{% extends "../public_layout.html" %}

{% block body %}
    	<div class="big-img-hold col-md-12">
       	  <img src="{{ static_url("images/baner-md_1170x448.jpg") }}" class="img-responsive" alt=""/>
            <h4 class="hidden-sm hidden-xs banner-msg">
                        "А тепер, ти приходиш і говориш:
        "Дон Корлеоне, мені потрібна справедливість".
         Але ти не просиш з повагою, не пропонуєш дружбу..."
            </h4>
        </div>
        <div class="col-md-12">
        	<div class="row news-line">
        	    <div class="col-md-3">
                	<h2 class="head-post bl-gray-text">Новини</h2>
                </div>
                <div class="col-md-3 col-md-offset-1 white-text n-elem">
                	<h4 class="text-uppercase">Регистрация на таможне</h4>
                	<p class="blue-box rotate-box">
                      листопад
                     </p>
                	<p>
                        Рынок консультационных услуг в Украине чрезвычайно перенасыщен. Тем не менее,иностранцам, лицам без
                        <a href="#">
                            <img src="{{ static_url("images/arrow-list.svg") }}" class="pull-right">
                        </a>
                    </p>
                </div>
                <div class="col-md-3 col-md-offset-1 white-text n-elem">
               	  <h4 class="text-uppercase">Регистрация на таможне</h4>
                	<p class="blue-box rotate-box"> грудень </p>
                	<p>
                        Рынок консультационных услуг в Украине чрезвычайно перенасыщен. Тем не менее,иностранцам, лицам без
                        <a href="#">
                            <img src="{{ static_url("images/arrow-list.svg") }}" class="pull-right">
                        </a>
                    </p>
                </div>
       	  </div>
        </div>
  	  <h2 class="col-md-12 head-post blue-text"> Юридичні практики <a class="btn-link-or pull-right gray-box text-uppercase" href="#"> всі послуги </a> </h2>
  	  <div class="col-sm-6 col-md-4 media media-item small-media">
        	<h3 class="text-uppercase blue-text headh3-media">
            	банківський консалтинг
			</h3>
       	  <a class="media-left" href="#">
           	  <img alt="" src="{{ static_url("images/bank-kons143x93.jpg") }}">
          </a>
          <div class="media-body">
            <p>
            Vaximus odio augue, et vestibulum tellus volutpat et. Ut ornare mattis sapien, eu malesuada magna vulputate vitae.
            <a href="#">
            	<img class="pull-right" alt="" src="{{ static_url("images/arrow-list.svg") }}">
            </a>
            </p>

          </div>
        </div>
        <div class="col-sm-6 col-md-4 media media-item small-media">
          <h3 class="text-uppercase blue-text headh3-media"> бухгалтерське обслуговування </h3>
          <a class="media-left" href="#">
           	  <img alt="" src="{{ static_url("images/bank-obs143x93.jpg") }}">
          </a>
          <div class="media-body">
            <p>
            Vaximus odio augue, et vestibulum tellus volutpat et. Ut ornare mattis sapien, eu malesuada magna vulputate vitae.
            <a href="#">
            	<img class="pull-right" alt="" src="{{ static_url("images/arrow-list.svg") }}">
            </a>
            </p>

          </div>
      </div>
        <div class="col-sm-6 col-md-4 media media-item small-media">
          <h3 class="text-uppercase blue-text headh3-media"> договірне право </h3>
          <a class="media-left" href="#">
           	  <img alt="" src="{{ static_url("images/dogov-pravo143x93.jpg") }}">
          </a>
          <div class="media-body">
            <p>
            Vaximus odio augue, et vestibulum tellus volutpat et. Ut ornare mattis sapien, eu malesuada magna vulputate vitae.
            <a href="#">
            	<img class="pull-right" alt="" src="{{ static_url("images/arrow-list.svg") }}">
            </a>
            </p>

          </div>
      </div>
        <div class="col-sm-6 col-md-4 media media-item small-media">
          <h3 class="text-uppercase blue-text headh3-media"> аграрне право </h3>
          <a class="media-left" href="#">
           	  <img alt="" src="{{ static_url("images/agr-pravo143x93.jpg") }}">
          </a>
          <div class="media-body">
            <p>
            Vaximus odio augue, et vestibulum tellus volutpat et. Ut ornare mattis sapien, eu malesuada magna vulputate vitae.
            <a href="#">
            	<img class="pull-right" alt="" src="{{ static_url("images/arrow-list.svg") }}">
            </a>
            </p>

          </div>
      </div>
        <div class="col-sm-6 col-md-4 media media-item small-media">
          <h3 class="text-uppercase blue-text headh3-media"> інтелектуальна власність </h3>
          <a class="media-left" href="#">
           	  <img alt="" src="{{ static_url("images/intelect-vl143x93.jpg") }}">
          </a>
          <div class="media-body">
            <p>
            Vaximus odio augue, et vestibulum tellus volutpat et. Ut ornare mattis sapien, eu malesuada magna vulputate vitae.
            <a href="#">
            	<img class="pull-right" alt="" src="{{ static_url("images/arrow-list.svg") }}">
            </a>
            </p>

          </div>
      </div>
        <div class="col-sm-6 col-md-4 media media-item small-media">
          <h3 class="text-uppercase blue-text headh3-media"> нерухомість табудівницство </h3>
          <a class="media-left" href="#">
           	  <img alt="" src="{{ static_url("images/neruhom-bud143x93.jpg") }}">
          </a>
          <div class="media-body">
            <p>
            Vaximus odio augue, et vestibulum tellus volutpat et. Ut ornare mattis sapien, eu malesuada magna vulputate vitae.
            <a href="#">
            	<img class="pull-right" alt="" src="{{ static_url("images/arrow-list.svg") }}">
            </a>
            </p>

          </div>
      </div>
        <div class="clearfix"></div>
   	  	<h2 class="col-md-12 head-post">
        <a class="btn-link-or pull-right blue-box text-uppercase" href="#">
        	вся команда
        </a>
        </h2>
        <div class="clearfix"></div>
  		<div class="col-sm-6 col-md-4">
			<div class="thumbnail post-thumbn">
            	<a class="arrow-img" href="#">&nbsp;</a>
              	<img class="img-responsive" src="{{ static_url("images/face-th2_360x420.jpg") }}" alt="">
                <div class="caption post-col-capt">
                  <h3 class="capt-name">
                      <strong>Григорій Стойченковський</strong>
                      <span>інтелектуальна власність</span>
                      <span>+38 098 45 567 56</span>
                  </h3>
              </div>
            </div>
      </div>
      	<div class="col-sm-6 col-md-4">
        	<div class="thumbnail post-thumbn">
            	<a class="arrow-img" href="#">&nbsp;</a>
           	  	<img class="img-responsive" src="{{ static_url("images/face-th3_360x420.jpg") }}" alt="">
                <div class="caption post-col-capt">
                  <h3 class="capt-name"> <strong>Назар Єрмолов</strong> <span>інтелектуальна власність</span> <span>+38 098 45 567 56</span> </h3>
                </div>
            </div>
      	</div>
      	<div class="col-sm-6 col-md-4">
           <div class="thumbnail post-thumbn">
            	<a class="arrow-img" href="#">&nbsp;</a>
           	  	<img class="img-responsive" src="{{ static_url("images/face-th3_360x420.jpg") }}" alt="">
                <div class="caption post-col-capt">
                  <h3 class="capt-name"> <strong>Назар Єрмолов</strong> <span>інтелектуальна власність</span> <span>+38 098 45 567 56</span> </h3>
                </div>
            </div>
      	</div>
      	<div class="clearfix"></div>
      	<h2 class="col-md-12 head-post l-blue-text">
        	Відгуки
        <a class="btn-link-or pull-right gray-box text-uppercase" href="#">
        	всі відгуки
        </a>
        </h2>
        <div class="col-md-6">
        	<div class="row">
            	<div class="thumbnail post-thumbn col-md-5">
                <div class="logo-thumb">
                    <img alt="" class="img-r" src="{{ static_url("images/logo-gr153x101.jpg") }}">
                </div>
              <img alt="" class="img-responsive" src="{{ static_url("images/face-v194x112.jpg") }}">
                <div class="caption post-capt">
                  <h3 class="capt-name"><strong> Law Business</strong> Олег Яренко </h3>
              </div>
            </div>
            	<blockquote class="descr-thumbn col-md-7">
                  <p>
                  Vaximus odio augue, et vestibulum tellus volutpat et. Ut ornare mattis sapien, eu malesuada magna vulputate vitae.
                  </p>
                  <p>
    Etiam orci turpis, laoreet a dui in, luctus imperdiet velit. Curabitur tortor enim, finibus a egestas eu, lacinia sit amet lacus. <a href="#"><img alt="" src="{{ static_url("images/arrow-list.svg") }}"></a>
                  </p>
            </blockquote>
            </div>
        </div>
        <div class="col-md-6">
        	<div class="row">
            	<div class="thumbnail post-thumbn col-md-5">
                <div class="logo-thumb">
                    <img alt="" class="img-r" src="{{ static_url("images/logo-lb214x53.jpg") }}">
                </div>
              	<!--<img alt="" class="img-responsive" src="{{ static_url("images/face-v194x112.jpg") }}">
                <div class="caption post-capt">
                  <h3 class="capt-name"><strong> Law Business</strong> Олег Яренко </h3>
              </div>-->
            </div>
            	<blockquote class="descr-thumbn col-md-7">
                  <p>
                  Vaximus odio augue, et vestibulum tellus volutpat et. Ut ornare mattis sapien, eu malesuada magna vulputate vitae.
                  </p>
                  <p>
    Etiam orci turpis, laoreet a dui in, luctus imperdiet velit. Curabitur tortor enim, finibus a egestas eu, lacinia sit amet lacus. <a href="#"><img alt="" src="{{ static_url("images/arrow-list.svg") }}"></a>
                  </p>
            </blockquote>
            </div>
        </div>
        <div class="clearfix"></div>
      	<nav class="pag-box">
          <ul class="pagination pull-right">
            <li><a href="#"><img alt="" src="{{ static_url("images/arr-l-gr28x19.svg") }}"></a></li>
            <li><a href="#"><img alt="" src="{{ static_url("images/arr-r-act28x19.svg") }}"></a></li>
          </ul>
		</nav>
{% end %}