<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("css/admin/style.css") }}" type="text/css"/>

    <link rel="stylesheet" href="{{ static_url("css/admin/admin-style.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("css/admin/font-awesome.css") }}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap/bootstrap-theme.css") }}">

    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ static_url("js/serialize.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/cookie.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/js.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/dragDrop.js") }}"></script>

    <script src="{{ static_url("js/TinyEditor/packed.js") }}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ static_url("js/TinyEditor/style.css") }}" type="text/css"/>
    {% block head %}{% end %}
</head>

<body>

<div class="wrapper">

	<header class="header">
		{% block header %}{% end %}
	</header><!-- .header-->

	<div class="middle">

		<div class="container">
			<main class="content" id="content">
                <div id="popup-form-box">
                    {% block popup %}{% end %}
                </div>
				{% block body %}{% end %}
			</main><!-- .content -->
		</div><!-- .container-->

		<aside class="left-sidebar">
            <div class="media">
                <ul class="sidebar-shortcuts">
                    <li><a class="btn _reload" href="/{{ handler.locale.code }}/"><i class="fa fa-home icon-only"></i></a></li>
                    <li><a class="btn _reload" href="/{{ handler.locale.code }}/admin/profile"><i class="fa fa-user icon-only"></i></a></li>
                    <li><a class="btn _reload" href="/{{ handler.locale.code }}/admin/settings"><i class="fa fa-gear icon-only"></i></a></li>
                    <li><a class="btn _reload" href="/{{ handler.locale.code }}/logout"><i class="fa fa-power-off icon-only"></i></a></li>
                </ul>
            </div>
            <ul class="nav">
                <li class="_opened">
					<h4 class="_open_parent"><i class="fa fa-home"></i> {{ _("D-call") }}</h4>
                    <ul>
                        <li class="list active open">
                            <a class="nav-link" href="/{{ handler.locale.code }}/admin/contacts">{{ _("contacts") }}</a>
                        </li>
                        <li class="list">
                            <a class="nav-link" href="/{{ handler.locale.code }}/admin/calls">{{ _("calls") }}</a>
                        </li>
                        <li class="list">
                            <a class="nav-link" href="/{{ handler.locale.code }}/admin/messages">{{ _("messages") }}</a>
                        </li>
                    </ul>
				</li>
                <!--<li>
					<a class="nav-link" href="/{{ handler.locale.code }}/admin/users">{{ _("users") }}</a>
				</li>-->
            </ul>
            {% block sidebar %}{% end %}
		</aside><!-- .left-sidebar -->

	</div><!-- .middle-->

</div><!-- .wrapper -->

<footer class="footer">
	{% block bottom %}{% end %}
</footer><!-- .footer -->
<div id="popup" class="popup"></div>
</body>
</html>
<script type="text/javascript" src="{{ static_url("js/ui.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/main.js") }}"></script>