<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="ua">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% for option in handler.admin_config.meta_options %}
    <meta name="{{ option }}" content="{{ handler.admin_config.meta_options[option] }}" />
    {% end %}
    <title>{{ escape(handler.settings["site_title"]) }}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap/bootstrap.min.css") }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ static_url("css/public/jquery-ui.css") }}">-->
    <script type="text/javascript" src="{{ static_url("js/serialize.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/cookie.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/js.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/dragDrop.js") }}"></script>
    {% block head %}{% end %}
</head>
<body>
          <div class="col-sx-12 col-md-8 col-sm-12 col-md-offset-1 col-sm-offset-0 top-info-line">

            {% if current_user %}
zzz
            {% else %}
            <ul class="soc-top-line top-info-spr-list">
                <li class="fb-spr">
                    <a class="_oauth" href="/fb_login">facebook</a>
                </li>
                <li class="v-spr">
                    <a class="_oauth" href="/vk_login">v</a>
                </li>
                <li class="in-spr">
                    <a class="_oauth" href="/li_login">in</a>
                </li>
            </ul>
              {% end %}
          </div>
</body>
</html>
<script type="text/javascript" src="{{ static_url("js/ui.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/main.js") }}"></script>
