@charset "utf-8";
/* CSS Document */
body {
    color: #686868;
    /*font-family: "Open Sans",sans-serif;
    font-size: 14px;*/
}
.team_member .form-group .form-control-feedback{
	right:1em;
}

#main-container:before {
    background-color: #f5f5f5;
    bottom: 0;
    content: "";
    display: block;
    max-width: inherit;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}
#main-container {
    background: none repeat scroll 0 0 #373737;
    padding: 0;
}
body.modal-open-noscroll .navbar-top, body.modal-open-noscroll .qs-layout-menu, body.modal-open-noscroll .breadcrumbs.fixed {
    right: 17px;
}
*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
.navbar-top, .top-navbar {
    background-color: #373737;
    z-index: 1030;
}
.navbar-top .navbar-brand, .top-navbar .navbar-brand {
    height: 50px;
}
.navbar-top .navbar-brand a, .top-navbar .navbar-brand a {
    color: #f2f2f2;
    display: inline-block;
    font-size: 18px;
}
.navbar-top .navbar-brand a:hover, .top-navbar .navbar-brand a:hover {
    color: #999;
    text-decoration: none;
}
.navbar-top .navbar-header, .top-navbar .navbar-header {
    background-color: #414141;
}
.navbar-top .navbar-toggle, .top-navbar .navbar-toggle {
    color: #f2f2f2;
    margin-bottom: auto;
    margin-top: 6px;
    outline: 0 none;
}
.navbar-top .navbar-toggle:hover, .top-navbar .navbar-toggle:hover {
    color: #999;
}
.navbar-top .dropdown-toggle, .top-navbar .dropdown-toggle {
    padding-bottom: 4px;
    padding-top: 6px;
}
.navbar-top .nav-top, .top-navbar .nav-top {
    margin: 0 10px;
    min-height: 50px;
}
.navbar-top .nav-top li > a, .top-navbar .nav-top li > a {
    font-size: 13px;
}
.navbar-top > .nav-top > .nav > li, .top-navbar > .nav-top > .nav > li, .navbar-top > .container > .nav-top > .nav > li, .top-navbar > .container > .nav-top > .nav > li {
    display: inline-block;
    float: left;
}
.navbar-top > .nav-top > .nav > li > a, .top-navbar > .nav-top > .nav > li > a, .navbar-top > .container > .nav-top > .nav > li > a, .top-navbar > .container > .nav-top > .nav > li > a {
    color: #fff;
    height: 50px;
    padding-top: 18px;
}
.navbar-top > .nav-top > .nav > li > a:hover, .top-navbar > .nav-top > .nav > li > a:hover, .navbar-top > .container > .nav-top > .nav > li > a:hover, .top-navbar > .container > .nav-top > .nav > li > a:hover, .navbar-top > .nav-top > .nav > li > a:focus, .top-navbar > .nav-top > .nav > li > a:focus, .navbar-top > .container > .nav-top > .nav > li > a:focus, .top-navbar > .container > .nav-top > .nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}
.navbar-top > .nav-top > ul.navbar-right > li.user-box, .top-navbar > .nav-top > ul.navbar-right > li.user-box, .navbar-top > .container > .nav-top > ul.navbar-right > li.user-box, .top-navbar > .container > .nav-top > ul.navbar-right > li.user-box, .navbar-top > .nav-top > ul.navbar-right > li.nav-search-icon, .top-navbar > .nav-top > ul.navbar-right > li.nav-search-icon, .navbar-top > .container > .nav-top > ul.navbar-right > li.nav-search-icon, .top-navbar > .container > .nav-top > ul.navbar-right > li.nav-search-icon, .navbar-top > .nav-top > ul.navbar-right > li.user-box-no-images, .top-navbar > .nav-top > ul.navbar-right > li.user-box-no-images, .navbar-top > .container > .nav-top > ul.navbar-right > li.user-box-no-images, .top-navbar > .container > .nav-top > ul.navbar-right > li.user-box-no-images {
    float: right !important;
}
@media (min-width: 992px) {
.navbar-top > .nav-top > ul.navbar-right > li.user-box, .top-navbar > .nav-top > ul.navbar-right > li.user-box, .navbar-top > .container > .nav-top > ul.navbar-right > li.user-box, .top-navbar > .container > .nav-top > ul.navbar-right > li.user-box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #2a2a2a;
    border-color: rgba(0, 0, 0, 0.2);
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
}
}
.navbar-top > .nav-top > ul.navbar-right > li.user-box img, .top-navbar > .nav-top > ul.navbar-right > li.user-box img, .navbar-top > .container > .nav-top > ul.navbar-right > li.user-box img, .top-navbar > .container > .nav-top > ul.navbar-right > li.user-box img {
    border: 2px solid #fff;
    height: 36px;
    max-height: 36px;
    max-width: 36px;
    width: 36px;
}
.navbar-top > .nav-top > ul.navbar-right > li.user-box > a, .top-navbar > .nav-top > ul.navbar-right > li.user-box > a, .navbar-top > .container > .nav-top > ul.navbar-right > li.user-box > a, .top-navbar > .container > .nav-top > ul.navbar-right > li.user-box > a {
    padding-top: 7.5px !important;
}
.navbar-top .dropdown-messages, .top-navbar .dropdown-messages, .navbar-top .dropdown-alerts, .top-navbar .dropdown-alerts, .navbar-top .dropdown-tasks, .top-navbar .dropdown-tasks {
    width: 260px;
}
.navbar-top .dropdown-messages li:first-child, .top-navbar .dropdown-messages li:first-child, .navbar-top .dropdown-alerts li:first-child, .top-navbar .dropdown-alerts li:first-child, .navbar-top .dropdown-tasks li:first-child, .top-navbar .dropdown-tasks li:first-child {
    border-top: 2px solid transparent !important;
}
.navbar-top .dropdown-messages li a:hover, .top-navbar .dropdown-messages li a:hover, .navbar-top .dropdown-alerts li a:hover, .top-navbar .dropdown-alerts li a:hover, .navbar-top .dropdown-tasks li a:hover, .top-navbar .dropdown-tasks li a:hover, .navbar-top .dropdown-messages li a:focus, .top-navbar .dropdown-messages li a:focus, .navbar-top .dropdown-alerts li a:focus, .top-navbar .dropdown-alerts li a:focus, .navbar-top .dropdown-tasks li a:focus, .top-navbar .dropdown-tasks li a:focus {
    background-color: #f5f5f5 !important;
    color: #686868 !important;
}
.navbar-top .dropdown-messages li.dropdown-header, .top-navbar .dropdown-messages li.dropdown-header, .navbar-top .dropdown-alerts li.dropdown-header, .top-navbar .dropdown-alerts li.dropdown-header, .navbar-top .dropdown-tasks li.dropdown-header, .top-navbar .dropdown-tasks li.dropdown-header {
    border-top: 2px solid #d15050 !important;
}
.navbar-top .dropdown-messages .dropdown-header, .top-navbar .dropdown-messages .dropdown-header, .navbar-top .dropdown-alerts .dropdown-header, .top-navbar .dropdown-alerts .dropdown-header, .navbar-top .dropdown-tasks .dropdown-header, .top-navbar .dropdown-tasks .dropdown-header, .navbar-top .dropdown-messages .dropdown-header:hover, .top-navbar .dropdown-messages .dropdown-header:hover, .navbar-top .dropdown-alerts .dropdown-header:hover, .top-navbar .dropdown-alerts .dropdown-header:hover, .navbar-top .dropdown-tasks .dropdown-header:hover, .top-navbar .dropdown-tasks .dropdown-header:hover {
    background: none repeat scroll 0 0 #fff !important;
    color: #686868;
}
.navbar-top .dropdown-messages .dropdown-header:hover, .top-navbar .dropdown-messages .dropdown-header:hover, .navbar-top .dropdown-alerts .dropdown-header:hover, .top-navbar .dropdown-alerts .dropdown-header:hover, .navbar-top .dropdown-tasks .dropdown-header:hover, .top-navbar .dropdown-tasks .dropdown-header:hover, .navbar-top .dropdown-messages .dropdown-header:hover:hover, .top-navbar .dropdown-messages .dropdown-header:hover:hover, .navbar-top .dropdown-alerts .dropdown-header:hover:hover, .top-navbar .dropdown-alerts .dropdown-header:hover:hover, .navbar-top .dropdown-tasks .dropdown-header:hover:hover, .top-navbar .dropdown-tasks .dropdown-header:hover:hover {
    color: #686868;
}
.navbar-top .dropdown-messages .dropdown-footer, .top-navbar .dropdown-messages .dropdown-footer, .navbar-top .dropdown-alerts .dropdown-footer, .top-navbar .dropdown-alerts .dropdown-footer, .navbar-top .dropdown-tasks .dropdown-footer, .top-navbar .dropdown-tasks .dropdown-footer, .navbar-top .dropdown-messages .dropdown-footer a, .top-navbar .dropdown-messages .dropdown-footer a, .navbar-top .dropdown-alerts .dropdown-footer a, .top-navbar .dropdown-alerts .dropdown-footer a, .navbar-top .dropdown-tasks .dropdown-footer a, .top-navbar .dropdown-tasks .dropdown-footer a, .navbar-top .dropdown-messages .dropdown-footer a:hover, .top-navbar .dropdown-messages .dropdown-footer a:hover, .navbar-top .dropdown-alerts .dropdown-footer a:hover, .top-navbar .dropdown-alerts .dropdown-footer a:hover, .navbar-top .dropdown-tasks .dropdown-footer a:hover, .top-navbar .dropdown-tasks .dropdown-footer a:hover, .navbar-top .dropdown-messages .dropdown-footer:hover, .top-navbar .dropdown-messages .dropdown-footer:hover, .navbar-top .dropdown-alerts .dropdown-footer:hover, .top-navbar .dropdown-alerts .dropdown-footer:hover, .navbar-top .dropdown-tasks .dropdown-footer:hover, .top-navbar .dropdown-tasks .dropdown-footer:hover {
    background: none repeat scroll 0 0 #d15050 !important;
    color: #fff !important;
}
.navbar-top .dropdown-messages, .top-navbar .dropdown-messages {
    left: 0;
}
.navbar-top .dropdown-alerts, .top-navbar .dropdown-alerts {
    left: -45px;
}
.navbar-top .dropdown-tasks, .top-navbar .dropdown-tasks {
    left: -90px;
}
.navbar-top .dropdown-tasks .progress, .top-navbar .dropdown-tasks .progress {
    height: 10px;
    margin-bottom: 5px;
    min-height: 10px;
}
.navbar-top .dropdown-user, .top-navbar .dropdown-user, .navbar-top .dropdown-search, .top-navbar .dropdown-search {
    left: auto;
    margin: 0;
    right: 0 !important;
}
.navbar-top .dropdown-user [class*="fa-"], .top-navbar .dropdown-user [class*="fa-"], .navbar-top .dropdown-search [class*="fa-"], .top-navbar .dropdown-search [class*="fa-"], .navbar-top .dropdown-user [class*="glyphicon-"], .top-navbar .dropdown-user [class*="glyphicon-"], .navbar-top .dropdown-search [class*="glyphicon-"], .top-navbar .dropdown-search [class*="glyphicon-"] {
    font-size: 13px;
}
.navbar-top .dropdown-scroll, .top-navbar .dropdown-scroll {
    margin: 0;
    padding: 0;
}
.navbar-top .dropdown-scroll .dropdown-header, .top-navbar .dropdown-scroll .dropdown-header {
    padding: 10px;
}
.navbar-top .dropdown-scroll .dropdown-header:active, .top-navbar .dropdown-scroll .dropdown-header:active, .navbar-top .dropdown-scroll .dropdown-header:focus, .top-navbar .dropdown-scroll .dropdown-header:focus, .navbar-top .dropdown-scroll .dropdown-header:hover, .top-navbar .dropdown-scroll .dropdown-header:hover {
    background: inherit;
    color: inherit;
}
.navbar-top .dropdown-scroll li, .top-navbar .dropdown-scroll li {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px dotted #e5e5e5;
    margin: 0;
}
.navbar-top .dropdown-scroll li:last-child, .top-navbar .dropdown-scroll li:last-child {
    border-bottom: 0 none;
}
.navbar-top .dropdown-scroll li a, .top-navbar .dropdown-scroll li a {
    display: block;
    padding: 10px;
}
.navbar-top .dropdown-scroll li a:hover, .top-navbar .dropdown-scroll li a:hover {
    background-color: inherit;
    text-decoration: none;
}
.navbar-top .dropdown-scroll .dropdown-footer, .top-navbar .dropdown-scroll .dropdown-footer {
    border-bottom: 0 none;
    display: block;
    font-size: 11px;
    text-align: center;
}
.navbar-top .dropdown-scroll .dropdown-footer a:after, .top-navbar .dropdown-scroll .dropdown-footer a:after {
    content: "";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    margin-left: 4px;
}
.navbar-top .dropdown-scroll p, .top-navbar .dropdown-scroll p {
    font-size: 12px;
    margin: 0 0 0 10px;
}
.navbar-top .dropdown-scroll p.small, .top-navbar .dropdown-scroll p.small {
    color: #999;
    font-size: 11px;
    margin-top: 3px;
}
.navbar-top .dropdown-scroll [class*="fa-"], .top-navbar .dropdown-scroll [class*="fa-"], .navbar-top .dropdown-scroll [class*="glyphicon-"], .top-navbar .dropdown-scroll [class*="glyphicon-"] {
    font-size: 13px;
}
.navbar-top .dropdown-scroll li a, .top-navbar .dropdown-scroll li a, .navbar-top .dropdown-scroll li a:hover, .top-navbar .dropdown-scroll li a:hover, .navbar-top .dropdown-messages li a:hover, .top-navbar .dropdown-messages li a:hover, .navbar-top .dropdown-alerts li a:hover, .top-navbar .dropdown-alerts li a:hover, .navbar-top .dropdown-tasks li a:hover, .top-navbar .dropdown-tasks li a:hover {
    color: #686868;
}
.navbar-top .alert-icon, .top-navbar .alert-icon {
    color: #fff;
    margin-right: 5px;
    text-align: center;
    width: 25px;
}
.navbar-top .badge.up, .top-navbar .badge.up {
    font-size: 11px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.navbar-top [class*="fa-"], .top-navbar [class*="fa-"], .navbar-top [class*="glyphicon-"], .top-navbar [class*="glyphicon-"] {
    font-size: 15px;
}
.navbar-top .user-info, .top-navbar .user-info {
    padding-left: 2px;
}
.navbar-top .search-box, .top-navbar .search-box {
    padding: 5px 10px;
    width: auto;
}
.navbar-top .navbar-right, .top-navbar .navbar-right {
    margin-right: 0;
}
.navbar-top .navbar-right .navbar-toggle, .top-navbar .navbar-right .navbar-toggle {
    color: #fff;
    margin-right: 0;
}
.navbar-top .navbar-right .navbar-toggle .fa, .top-navbar .navbar-right .navbar-toggle .fa, .navbar-top .navbar-right .navbar-toggle .glyphicon, .top-navbar .navbar-right .navbar-toggle .glyphicon {
    font-size: 13px !important;
}
@media (min-width: 481px) {
.navbar-top .navbar-right .navbar-toggle *:after, .top-navbar .navbar-right .navbar-toggle *:after {
    content: "Side Menu" !important;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    margin-left: 4px;
}
}
.navbar-top .navbar-left > li.dropdown > .dropdown-menu:after, .top-navbar .navbar-left > li.dropdown > .dropdown-menu:after, .navbar-top .navbar-right > li.dropdown > .dropdown-menu:after, .top-navbar .navbar-right > li.dropdown > .dropdown-menu:after {
    border-bottom: 8px solid #d15050;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    top: -8px;
    width: 0;
    z-index: 2;
}
.navbar-top .navbar-left > li.dropdown > .dropdown-menu:after, .top-navbar .navbar-left > li.dropdown > .dropdown-menu:after {
    left: 8px;
}
.navbar-top .navbar-right > li.dropdown > .dropdown-menu:after, .top-navbar .navbar-right > li.dropdown > .dropdown-menu:after {
    right: 8px;
}
.navbar-top .navbar-right > li.dropdown > .dropdown-scroll:after, .top-navbar .navbar-right > li.dropdown > .dropdown-scroll:after {
    right: 8px;
}
@media (max-width: 992px) {
.navbar-top .navbar-right > li.dropdown > .dropdown-scroll:after, .top-navbar .navbar-right > li.dropdown > .dropdown-scroll:after {
    left: 8px;
}
.navbar-top .navbar-left > li.dropdown > .dropdown-menu:after, .top-navbar .navbar-left > li.dropdown > .dropdown-menu:after {
    display: none;
}
.navbar-top .navbar-right > li.dropdown > .dropdown-scroll:after, .top-navbar .navbar-right > li.dropdown > .dropdown-scroll:after {
    display: none;
}
}
.navbar-top.container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-top.container .nav-top {
    margin: 0 10px;
    min-height: 50px;
}
.navbar-top.container .navbar-header {
    margin: 0;
}
@media (max-width: 480px) {
.navbar-top .user-info {
    display: none;
}
.navbar-top .user-box {
    margin: 0 -15px;
}
.navbar-top .user-box .caret {
    display: none;
}
.navbar-top .dropdown-user, .navbar-top .dropdown-search {
    right: 15px !important;
}
}
@media (min-width: 992px) {
.navbar-top {
    border-radius: 0;
    left: 0;
    max-height: 50px;
    position: absolute;
    right: 0;
    top: 0;
}
.navbar-top .navbar-header {
    background-color: transparent;
    width: 190px;
}
.navbar-top .navbar-header.collapsed {
    background-color: transparent;
}
.navbar-top .navbar-left {
    display: inherit;
}
.navbar-top #sidebar-toggle {
    display: inline-block;
}
.navbar-top .dropdown-messages, .navbar-top .dropdown-alerts, .navbar-top .dropdown-tasks, .navbar-top .dropdown-user {
    left: inherit;
}
.navbar-top .dropdown-scroll li a:hover {
    text-decoration: none;
}
.navbar-top .search-box {
    min-width: 190px;
}
.navbar-top .nav-top {
    text-align: inherit;
}
.navbar-top .nav-top .navbar-left.navbar-nav > li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #2a2a2a;
    border-color: rgba(0, 0, 0, 0.2);
    border-image: none;
    border-style: solid;
    border-width: 0 1px 0 0;
}
.navbar-top .nav-top .navbar-left.navbar-nav > li:first-child {
    border-width: 0 1px !important;
}
}
.navbar-top .nav-top .navbar-nav > li > a, .top-navbar .nav-top .navbar-nav > li > a {
    color: #fff;
    padding-bottom: 15px;
    padding-top: 15px;
}
.navbar-top .nav-top .navbar-nav > li > a:hover, .top-navbar .nav-top .navbar-nav > li > a:hover, .navbar-top .nav-top .navbar-nav > li > a:focus, .top-navbar .nav-top .navbar-nav > li > a:focus {
    background-color: transparent !important;
    color: #fff;
}
.navbar-top .nav-top .navbar-nav > li.open > a, .top-navbar .nav-top .navbar-nav > li.open > a, .navbar-top .nav-top .navbar-nav > li.open > a:hover, .top-navbar .nav-top .navbar-nav > li.open > a:hover, .navbar-top .nav-top .navbar-nav > li.open > a:focus, .top-navbar .nav-top .navbar-nav > li.open > a:focus, .navbar-top .nav-top .navbar-right > li.open > a, .top-navbar .nav-top .navbar-right > li.open > a, .navbar-top .nav-top .navbar-right > li.open > a:hover, .top-navbar .nav-top .navbar-right > li.open > a:hover, .navbar-top .nav-top .navbar-right > li.open > a:focus, .top-navbar .nav-top .navbar-right > li.open > a:focus {
    background-color: transparent !important;
}
@media (max-width: 992px) {
.navbar-top, .top-navbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.navbar-top .navbar-nav, .top-navbar .navbar-nav {
    margin: 7.5px 0;
}
.navbar-top .nav-top .navbar-nav > li > a, .top-navbar .nav-top .navbar-nav > li > a {
    padding: 10px 0;
}
.navbar-top .nav-top .navbar-nav .open .dropdown-menu > li > a, .top-navbar .nav-top .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    font-size: 12px;
    padding: 5px 15px;
}
.navbar-top .nav-top .navbar-nav .open .dropdown-menu > li > a:hover, .top-navbar .nav-top .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-top .nav-top .navbar-nav .open .dropdown-menu > li > a:focus, .top-navbar .nav-top .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: transparent !important;
    color: #fff;
}
.navbar-top .nav-top .navbar-left.navbar-nav > li .dropdown-menu li, .top-navbar .nav-top .navbar-left.navbar-nav > li .dropdown-menu li {
    border: 0 none;
}
}
.navbar-side {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #373737;
    border-color: #2f2f2f;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 0 0;
    width: 190px;
}
.navbar-side .navbar-collapse {
    border: 0 none;
    height: inherit !important;
    overflow: hidden !important;
    padding: 0;
}
.navbar-side .side-nav {
    border: 0 none;
    border-radius: 0;
    float: none;
}
.navbar-side .side-nav li {
    border-bottom: 1px solid #2f2f2f;
    float: none;
}
.navbar-side .side-nav li > a {
    background-color: #373737;
    color: #fff;
    display: block;
    font-size: 13px;
    outline: 0 none;
    padding: 10px;
    text-shadow: none !important;
    transition: all 0.3s ease 0s;
}
.navbar-side .side-nav li > a .fa, .navbar-side .side-nav li > a .glyphicon {
    color: #666;
    font-size: 13px;
}
.navbar-side .side-nav li > a .fa {
    min-width: 20px;
}
.navbar-side .side-nav li > a .glyphicon {
    min-width: 21px;
}
.navbar-side .side-nav li > a.active {
    border-color: #d15050;
    color: #fff;
}
.navbar-side .side-nav li > a.active .fa, .navbar-side .side-nav li > a.active .glyphicon {
    color: #fff;
}
.navbar-side .side-nav li > a.active:after {
    border-color: transparent #d15050 transparent transparent;
    border-style: solid;
    border-width: 16px 10px;
    content: "";
    display: block;
    position: absolute !important;
    right: 0;
    top: 4px;
}
.navbar-side .side-nav li > a.active:hover, .navbar-side .side-nav li > a.active:focus {
    border-color: #d15050;
}
.navbar-side .side-nav li > a, .navbar-side .side-nav li a:hover, .navbar-side .side-nav li a:focus, .navbar-side .side-nav li a:active {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
.navbar-side .side-nav li > a:hover, .navbar-side .side-nav li > a:focus, .navbar-side .side-nav li a:active {
    background: none repeat scroll 0 0 #414141;
}
.navbar-side .side-nav li.panel {
    border-radius: 0;
    border-width: 0 0 1px;
    box-shadow: none;
    margin: 0;
}
.navbar-side .side-nav li.panel ul li {
    border-bottom: 0 none;
    border-top: 0 none;
}
.navbar-side .side-nav li.panel ul li a {
    background-color: transparent;
    color: #666;
}
.navbar-side .side-nav li.panel ul li a.active {
    color: #fff;
}
.navbar-side .side-nav li.panel ul li a:hover, .navbar-side .side-nav li.panel ul li a:focus, .navbar-side .side-nav li.panel ul li a:active {
    background-color: #3a3a3a;
    color: #fff;
}
.navbar-side .side-nav li.panel.open a {
    background-color: #2f2f2f;
}
.navbar-side .side-nav li.panel.open a, .navbar-side .side-nav li.panel.open a:hover, .navbar-side .side-nav li.panel.open a:focus, .navbar-side .side-nav li.panel.open a:active {
    border-left: 3px solid transparent;
    border-right: 3px solid #d15050;
}
.navbar-side .side-nav li.panel.open a:hover, .navbar-side .side-nav li.panel.open a:focus, .navbar-side .side-nav li.panel.open a:active {
    background: none repeat scroll 0 0 #414141;
}
.navbar-side .side-nav li.panel.open .fa, .navbar-side .side-nav li.panel.open .glyphicon {
    color: #fff;
}
.navbar-side .side-nav li.panel.open li .fa, .navbar-side .side-nav li.panel.open li .glyphicon {
    color: #666;
}
.navbar-side .side-nav .arrow {
    float: right;
    margin-top: 3px;
    text-align: center;
}
.navbar-side .side-nav .fa.arrow:before {
    content: "";
}
.navbar-side .side-nav .open > a > .fa.arrow:before {
    content: "";
}
.navbar-side .side-nav .badge, .navbar-side .side-nav .label {
    position: absolute;
    right: 15px;
    top: 11px;
}
.navbar-side .side-nav a.accordion-toggle .badge, .navbar-side .side-nav a.accordion-toggle .label {
    right: 30px;
}
.navbar-side .side-nav .nav {
    background: none repeat scroll 0 0 #2f2f2f;
}
.navbar-side .side-nav .nav > li > a {
    padding: 10px 7.5px;
}
.navbar-side > h4, .navbar-side h4 {
    color: #666;
    font-size: 13px;
    margin: 10px 0 0;
    padding: 10px;
    text-transform: uppercase;
}
.navbar-side > h4:after, .navbar-side h4:after {
    content: "";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    margin-left: 4px;
}
.navbar-side .media {
    padding: 1px 0 2px;
}
.navbar-side .media .sidebar-shortcuts {
    display: block;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 4px 0;
    text-align: center;
}
.navbar-side .media .sidebar-shortcuts li {
    display: inline-block;
}
.navbar-side .media .sidebar-shortcuts li .btn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #2f2f2f;
    padding: 3px 13px;
    transition: all 0.3s ease 0s;
}
.navbar-side .media .sidebar-shortcuts li .btn:hover, .navbar-side .media .sidebar-shortcuts li .btn:focus {
    background-color: #414141;
}
.navbar-side .media .sidebar-shortcuts li .btn:hover .fa, .navbar-side .media .sidebar-shortcuts li .btn:focus .fa {
    color: #fff;
}
.navbar-side .media .sidebar-shortcuts a .fa {
    color: #666;
}
.navbar-side .media-search {
    padding: 4px 10px;
}
.navbar-side .media-search .input-menu {
    background-color: #414141 !important;
    border: 1px solid #2f2f2f;
    color: #999;
    font-size: 12px;
    margin: 4px 0;
    width: 100%;
}
.navbar-side .sidebar-labels ul {
    padding-left: 10px;
}
.navbar-side .sidebar-labels ul li {
    list-style: outside none none;
    margin-top: 10px;
}
.navbar-side .sidebar-labels ul li a {
    color: #fff;
    font-size: 13px;
}
.navbar-side .sidebar-labels ul li a:hover, .navbar-side .sidebar-labels ul li a:focus {
    text-decoration: none;
}
.navbar-side .sidebar-labels ul li a .fa, .navbar-side .sidebar-labels ul li a .glyphicon {
    color: #bababa;
}
.navbar-side .sidebar-labels ul li a .badge, .navbar-side .sidebar-labels ul li a .label {
    float: right;
    margin-right: 15px;
}
.navbar-side .sidebar-alerts .alert {
    padding: 15px 15px 15px 10px;
}
.navbar-side .sidebar-alerts .alert .close {
    color: #fff;
    opacity: 0.5;
    text-shadow: none;
}
.navbar-side .sidebar-alerts .alert span {
    color: #bababa;
    font-size: 13px;
}
.navbar-side .media, .navbar-side .media-search, .navbar-side .sidebar-labels {
    border-bottom: 1px solid #2f2f2f;
}
.navbar-side.sidebar-light {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
}
.navbar-side.sidebar-light .side-nav li {
    border-bottom: 1px solid #e5e5e5;
}
.navbar-side.sidebar-light .side-nav li > a {
    background-color: #fff;
    color: #5e5e5e;
}
.navbar-side.sidebar-light .side-nav li > a .fa, .navbar-side.sidebar-light .side-nav li > a .glyphicon {
    color: #565656;
}
.navbar-side.sidebar-light .side-nav li > a.active {
    color: #d15050;
}
.navbar-side.sidebar-light .side-nav li > a.active .fa, .navbar-side.sidebar-light .side-nav li > a.active .glyphicon {
    color: #d15050;
}
.navbar-side.sidebar-light .side-nav li > a:hover, .navbar-side.sidebar-light .side-nav li > a:focus, .navbar-side.sidebar-light .side-nav li a:active {
    background: none repeat scroll 0 0 #fff;
}
.navbar-side.sidebar-light .side-nav li.panel ul li a {
    color: #5e5e5e;
}
.navbar-side.sidebar-light .side-nav li.panel ul li a.active {
    color: #d15050;
}
.navbar-side.sidebar-light .side-nav li.panel ul li a:hover, .navbar-side.sidebar-light .side-nav li.panel ul li a:focus, .navbar-side.sidebar-light .side-nav li.panel ul li a:active {
    background-color: #fff;
    color: #5e5e5e;
}
.navbar-side.sidebar-light .side-nav li.panel.open a {
    background-color: #f2f2f2;
}
.navbar-side.sidebar-light .side-nav li.panel.open a:hover, .navbar-side.sidebar-light .side-nav li.panel.open a:focus, .navbar-side.sidebar-light .side-nav li.panel.open a:active {
    background: none repeat scroll 0 0 #fff;
}
.navbar-side.sidebar-light .side-nav li.panel.open .fa, .navbar-side.sidebar-light .side-nav li.panel.open .glyphicon {
    color: #5e5e5e;
}
.navbar-side.sidebar-light .side-nav li.panel.open li .fa, .navbar-side.sidebar-light .side-nav li.panel.open li .glyphicon {
    color: #565656;
}
.navbar-side.sidebar-light .side-nav .nav {
    background: none repeat scroll 0 0 #f2f2f2;
}
.navbar-side.sidebar-light > h4, .navbar-side.sidebar-light h4 {
    color: #191919;
}
.navbar-side.sidebar-light .media .sidebar-shortcuts {
    margin-bottom: -1px;
}
.navbar-side.sidebar-light .media .sidebar-shortcuts li .btn {
    border-color: #e5e5e5;
}
.navbar-side.sidebar-light .media .sidebar-shortcuts li .btn:hover, .navbar-side.sidebar-light .media .sidebar-shortcuts li .btn:focus {
    background-color: #fff;
}
.navbar-side.sidebar-light .media .sidebar-shortcuts li .btn:hover .fa, .navbar-side.sidebar-light .media .sidebar-shortcuts li .btn:focus .fa {
    color: #5e5e5e;
}
.navbar-side.sidebar-light .media .sidebar-shortcuts a .fa {
    color: #565656;
}
.navbar-side.sidebar-light .media-search .input-menu {
    background-color: #fff !important;
    border: 1px solid #e5e5e5;
}
.navbar-side.sidebar-light .sidebar-labels ul li {
    list-style: outside none none;
}
.navbar-side.sidebar-light .sidebar-labels ul li a {
    color: #5e5e5e;
}
.navbar-side.sidebar-light .sidebar-labels ul li a .fa, .navbar-side.sidebar-light .sidebar-labels ul li a .glyphicon {
    color: #191919;
}
.navbar-side.sidebar-light .sidebar-alerts .alert .close {
    color: #5e5e5e;
}
.navbar-side.sidebar-light .sidebar-alerts .alert span {
    color: #191919;
}
.navbar-side.sidebar-light .media, .navbar-side.sidebar-light .media-search, .navbar-side.sidebar-light .sidebar-labels {
    border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 992px) {
.navbar-side {
    border-radius: 0;
    bottom: 0;
    position: absolute;
    top: 50px;
}
.navbar-side.collapsed {
    display: none;
}
.navbar-side.fixed {
    position: fixed;
    z-index: 1027;
}
}
@media (max-width: 992px) {
.navbar-side {
    margin: 0;
    position: fixed;
    z-index: 1027;
}
.navbar-side .navbar-nav {
    margin: 0;
}
}
@media (min-width: 992px) {
.navbar-top.fixed {
    position: fixed;
}
}
.label {
    background-color: #999 !important;
    border-radius: 0;
    display: inline-block;
    font-weight: 400;
    text-shadow: none;
}
.label[class*="col-"][class*="arrow"] {
    min-height: 0;
}
@media not all {
}
.badge {
    background-color: #999 !important;
    border-radius: 12px !important;
    font-size: 11px;
    font-weight: 400;
    padding: 3px 6px;
    text-shadow: none !important;
}
.badge.no-radius {
    border-radius: 0;
}
.label-transparent, .badge-transparent {
    background-color: transparent !important;
}
.label-info, .badge-info {
    background-color: #466baf !important;
}
.label-primary, .badge-primary {
    background-color: #d15050 !important;
}
.label-success, .badge-success {
    background-color: #72af46 !important;
}
.label-danger, .badge-danger {
    background-color: #bd362f !important;
}
.label-inverse, .badge-inverse {
    background-color: #414141 !important;
}
.label-warning, .badge-warning {
    background-color: #ab7a4b !important;
}
.label-light, .badge-light {
    background-color: #f2f2f2 !important;
}
.label-pending, .badge-pending {
    background-color: #466baf !important;
}
.label-active, .badge-active {
    background-color: #72af46 !important;
}
.label-suspended, .badge-suspended {
    background-color: #ab7a4b !important;
}
.label-paid, .badge-paid {
    background-color: #72af46 !important;
}
.label-unpaid, .badge-unpaid {
    background-color: #bd362f !important;
}
.label-terminated, .badge-terminated {
    background-color: #bd362f !important;
}
.label-cancelled, .badge-cancelled {
    background-color: #bfbfbf !important;
}
.label-expired, .badge-expired {
    background-color: #999 !important;
}
.label-refunded, .badge-refunded {
    background-color: #999 !important;
}
.label-collections, .badge-collections {
    background-color: #ab7a4b !important;
}
.label-fraud, .badge-fraud {
    background-color: #222 !important;
}
.badge-light, .label-light {
    color: #999 !important;
}
.label.arrowed, .label.arrowed-in {
    position: relative;
    z-index: 1;
}
.label.arrowed:before, .label.arrowed-in:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #999 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: -1;
}
.label.arrowed-in:before {
    border-bottom-color: #999;
    border-left-color: transparent !important;
    border-right-color: #999;
    border-top-color: #999;
}
.label.arrowed-right, .label.arrowed-in-right {
    position: relative;
    z-index: 1;
}
.label.arrowed-right:after, .label.arrowed-in-right:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #999;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: -1;
}
.label.arrowed-in-right:after {
    border-bottom-color: #999;
    border-left-color: #999;
    border-right-color: transparent !important;
    border-top-color: #999;
}
.label-info.arrowed:before {
    border-right-color: #466baf;
}
.label-info.arrowed-in:before {
    border-color: #466baf;
}
.label-info.arrowed-right:after {
    border-left-color: #466baf;
}
.label-info.arrowed-in-right:after {
    border-color: #466baf;
}
.label-primary.arrowed:before {
    border-right-color: #d15050;
}
.label-primary.arrowed-in:before {
    border-color: #d15050;
}
.label-primary.arrowed-right:after {
    border-left-color: #d15050;
}
.label-primary.arrowed-in-right:after {
    border-color: #d15050;
}
.label-success.arrowed:before {
    border-right-color: #72af46;
}
.label-success.arrowed-in:before {
    border-color: #72af46;
}
.label-success.arrowed-right:after {
    border-left-color: #72af46;
}
.label-success.arrowed-in-right:after {
    border-color: #72af46;
}
.label-warning.arrowed:before {
    border-right-color: #ab7a4b;
}
.label-warning.arrowed-in:before {
    border-color: #ab7a4b;
}
.label-warning.arrowed-right:after {
    border-left-color: #ab7a4b;
}
.label-warning.arrowed-in-right:after {
    border-color: #ab7a4b;
}
.label-danger.arrowed:before {
    border-right-color: #bd362f;
}
.label-danger.arrowed-in:before {
    border-color: #bd362f;
}
.label-danger.arrowed-right:after {
    border-left-color: #bd362f;
}
.label-danger.arrowed-in-right:after {
    border-color: #bd362f;
}
.label-inverse.arrowed:before {
    border-right-color: #414141;
}
.label-inverse.arrowed-in:before {
    border-color: #414141;
}
.label-inverse.arrowed-right:after {
    border-left-color: #414141;
}
.label-inverse.arrowed-in-right:after {
    border-color: #414141;
}
.label-light.arrowed:before {
    border-right-color: #f2f2f2;
}
.label-light.arrowed-in:before {
    border-color: #f2f2f2;
}
.label-light.arrowed-right:after {
    border-left-color: #f2f2f2;
}
.label-light.arrowed-in-right:after {
    border-color: #f2f2f2;
}
.label-pending.arrowed:before {
    border-right-color: #466baf;
}
.label-pending.arrowed-in:before {
    border-color: #466baf;
}
.label-pending.arrowed-right:after {
    border-left-color: #466baf;
}
.label-pending.arrowed-in-right:after {
    border-color: #466baf;
}
.label-active.arrowed:before {
    border-right-color: #72af46;
}
.label-active.arrowed-in:before {
    border-color: #72af46;
}
.label-active.arrowed-right:after {
    border-left-color: #72af46;
}
.label-active.arrowed-in-right:after {
    border-color: #72af46;
}
.label-suspended.arrowed:before {
    border-right-color: #ab7a4b;
}
.label-suspended.arrowed-in:before {
    border-color: #ab7a4b;
}
.label-suspended.arrowed-right:after {
    border-left-color: #ab7a4b;
}
.label-suspended.arrowed-in-right:after {
    border-color: #ab7a4b;
}
.label-paid.arrowed:before {
    border-right-color: #72af46;
}
.label-paid.arrowed-in:before {
    border-color: #72af46;
}
.label-paid.arrowed-right:after {
    border-left-color: #72af46;
}
.label-paid.arrowed-in-right:after {
    border-color: #72af46;
}
.label-unpaid.arrowed:before {
    border-right-color: #bd362f;
}
.label-unpaid.arrowed-in:before {
    border-color: #bd362f;
}
.label-unpaid.arrowed-right:after {
    border-left-color: #bd362f;
}
.label-unpaid.arrowed-in-right:after {
    border-color: #bd362f;
}
.label-terminated.arrowed:before {
    border-right-color: #bd362f;
}
.label-terminated.arrowed-in:before {
    border-color: #bd362f;
}
.label-terminated.arrowed-right:after {
    border-left-color: #bd362f;
}
.label-terminated.arrowed-in-right:after {
    border-color: #bd362f;
}
.label-cancelled.arrowed:before {
    border-right-color: #bfbfbf;
}
.label-cancelled.arrowed-in:before {
    border-color: #bfbfbf;
}
.label-cancelled.arrowed-right:after {
    border-left-color: #bfbfbf;
}
.label-cancelled.arrowed-in-right:after {
    border-color: #bfbfbf;
}
.label-expired.arrowed:before {
    border-right-color: #999;
}
.label-expired.arrowed-in:before {
    border-color: #999;
}
.label-expired.arrowed-right:after {
    border-left-color: #999;
}
.label-expired.arrowed-in-right:after {
    border-color: #999;
}
.label-refunded.arrowed:before {
    border-right-color: #999;
}
.label-refunded.arrowed-in:before {
    border-color: #999;
}
.label-refunded.arrowed-right:after {
    border-left-color: #999;
}
.label-refunded.arrowed-in-right:after {
    border-color: #999;
}
.label-collections.arrowed:before {
    border-right-color: #ab7a4b;
}
.label-collections.arrowed-in:before {
    border-color: #ab7a4b;
}
.label-collections.arrowed-right:after {
    border-left-color: #ab7a4b;
}
.label-collections.arrowed-in-right:after {
    border-color: #ab7a4b;
}
.label-fraud.arrowed:before {
    border-right-color: #222;
}
.label-fraud.arrowed-in:before {
    border-color: #222;
}
.label-fraud.arrowed-right:after {
    border-left-color: #222;
}
.label-fraud.arrowed-in-right:after {
    border-color: #222;
}
.label {
    font-size: 12px;
    height: 20px;
    line-height: 1.2;
}
.label.arrowed {
    margin-left: 5px;
}
.label.arrowed:before {
    border-width: 10px 5px;
    left: -10px;
}
.label.arrowed-in {
    margin-left: 5px;
}
.label.arrowed-in:before {
    border-width: 10px 5px;
    left: -5px;
}
.label.arrowed-right {
    margin-right: 5px;
}
.label.arrowed-right:after {
    border-width: 10px 5px;
    right: -10px;
}
.label.arrowed-in-right {
    margin-right: 5px;
}
.label.arrowed-in-right:after {
    border-width: 10px 5px;
    right: -5px;
}
.label-lg {
    font-size: 13px;
    height: 24px;
    line-height: 1.1;
    padding: 0.3em 0.6em 0.4em;
}
.label-lg.arrowed {
    margin-left: 6px;
}
.label-lg.arrowed:before {
    border-width: 12px 6px;
    left: -12px;
}
.label-lg.arrowed-in {
    margin-left: 6px;
}
.label-lg.arrowed-in:before {
    border-width: 12px 6px;
    left: -6px;
}
.label-lg.arrowed-right {
    margin-right: 6px;
}
.label-lg.arrowed-right:after {
    border-width: 12px 6px;
    right: -12px;
}
.label-lg.arrowed-in-right {
    margin-right: 6px;
}
.label-lg.arrowed-in-right:after {
    border-width: 12px 6px;
    right: -6px;
}
.label-xlg {
    font-size: 14px;
    height: 28px;
    line-height: 1.3;
    padding: 0.3em 0.7em 0.4em;
}
.label-xlg.arrowed {
    margin-left: 7px;
}
.label-xlg.arrowed:before {
    border-width: 14px 7px;
    left: -14px;
}
.label-xlg.arrowed-in {
    margin-left: 7px;
}
.label-xlg.arrowed-in:before {
    border-width: 14px 7px;
    left: -7px;
}
.label-xlg.arrowed-right {
    margin-right: 7px;
}
.label-xlg.arrowed-right:after {
    border-width: 14px 7px;
    right: -14px;
}
.label-xlg.arrowed-in-right {
    margin-right: 7px;
}
.label-xlg.arrowed-in-right:after {
    border-width: 14px 7px;
    right: -7px;
}
.label-sm {
    font-size: 11px;
    height: 18px;
    line-height: 1.2;
    padding: 0.2em 0.4em 0.3em;
}
.label-sm.arrowed {
    margin-left: 4px;
}
.label-sm.arrowed:before {
    border-width: 9px 4px;
    left: -8px;
}
.label-sm.arrowed-in {
    margin-left: 4px;
}
.label-sm.arrowed-in:before {
    border-width: 9px 4px;
    left: -4px;
}
.label-sm.arrowed-right {
    margin-right: 4px;
}
.label-sm.arrowed-right:after {
    border-width: 9px 4px;
    right: -8px;
}
.label-sm.arrowed-in-right {
    margin-right: 4px;
}
.label-sm.arrowed-in-right:after {
    border-width: 9px 4px;
    right: -4px;
}
.label > span, .label > [class*="fa-"], .label > [class*="glyphicon-"] {
    line-height: 1;
    vertical-align: bottom;
}
.text-primary {
    color: #d15050 !important;
}
.text-success {
    color: #72af46 !important;
}
#page-wrapper {
    background-color: #f5f5f5;
    border: 0 none;
    padding: 0 15px;
}
@media (min-width: 992px) {
#page-wrapper {
    margin: 50px 0 0 190px;
}
#page-wrapper.collapsed {
    margin: 50px 0 0;
}
#page-wrapper.fixed {
    margin: 90px 0 0 190px;
}
#page-wrapper.fixed.collapsed {
    margin: 90px 0 0;
}
}
.breadcrumbs {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: -moz-use-text-color -moz-use-text-color #e5e5e5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    line-height: 39px;
    margin: 0 -15px;
    min-height: 40px;
    padding: 0 12px 0 0;
    position: relative;
}
.breadcrumbs > .breadcrumb {
    background-color: transparent;
    display: inline-block;
    line-height: 20px;
    margin: 5px 15px 0;
    padding: 0;
}
.breadcrumbs > .breadcrumb .active {
    color: #999;
    font-size: 13px;
}
.breadcrumbs > .breadcrumb a {
    color: #555;
    font-size: 13px;
}
.breadcrumbs > .breadcrumb a:hover, .breadcrumbs > .breadcrumb a:focus, .breadcrumbs > .breadcrumb a:active {
    color: #d15050;
    text-decoration: none;
}
.breadcrumbs > .breadcrumb > li:first-child *:before {
    content: "";
    font-family: FontAwesome;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-right: 4px;
    vertical-align: top;
}
.breadcrumbs > .breadcrumb > li + li:before {
    content: "// ";
    padding: 0 5px;
}
.breadcrumbs > .b-right {
    border-left: 1px solid #e5e5e5;
    line-height: 20px;
    margin: 0 -5px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 0;
}
.breadcrumbs > .b-right ul {
    list-style: outside none none;
    margin: 0;
    padding-left: 0;
}
.breadcrumbs > .b-right ul li {
    border-right: 1px solid #e5e5e5;
    float: left;
    padding: 0;
    position: relative;
}
.breadcrumbs > .b-right ul li a {
    color: #555;
    display: inline-block;
    font-size: 13px;
    line-height: 29px;
    padding: 6px 12px 5px;
    text-decoration: none;
}
.breadcrumbs > .b-right ul li a span {
    color: #999;
}
.breadcrumbs > .b-right ul li ul {
    border-top: 0 none;
}
.breadcrumbs > .b-right ul li ul li {
    border: 0 none;
    float: none;
}
.breadcrumbs > .b-right ul li ul li a {
    color: #686868;
    display: block !important;
    line-height: normal;
    padding: 3px 11px;
}
@media (min-width: 992px) {
.breadcrumbs.fixed {
    left: 190px;
    margin: 0;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1024;
}
.breadcrumbs.fixed.collapsed {
    left: 0;
}
}
@media (min-width: 992px) {
#main-container.container .breadcrumbs.fixed {
    left: auto;
    margin: 0 -15px;
    right: auto;
    width: 980px;
}
#main-container.container .breadcrumbs.collapsed {
    width: 1170px;
}
#main-container.container .footer .footer-inner {
    left: auto !important;
    right: auto !important;
    width: 950px;
}
#main-container.container .footer .footer-inner.collapsed {
    width: 1140px;
}
#main-container.container .footer .footer-inner .footer-content {
    left: -15px;
    right: -15px;
}
#main-container.container:before {
    width: inherit;
}
}
@media (min-width: 992px) and (max-width: 1200px) {
#main-container.container .breadcrumbs.fixed {
    left: auto;
    margin: 0 -15px;
    right: auto;
    top: 50px;
    width: 780px;
}
#main-container.container .breadcrumbs.collapsed {
    width: 970px;
}
#main-container.container .footer .footer-inner {
    left: auto !important;
    right: auto !important;
    width: 750px;
}
#main-container.container .footer .footer-inner.collapsed {
    width: 940px;
}
#main-container.container .footer .footer-inner .footer-content {
    left: -15px;
    right: -15px;
}
}
ol.breadcrumb li.pull-right:before {
    content: normal;
}
.btn, .well, .label, .thumbnail, .panel-heading, .alert, .panel, .progress, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .list-group-item:first-child, .list-group-item:last-child, .form-control, .input-group-addon, .input-group-btn .btn, .dropdown-menu, .panel-group .panel, .panel-group .panel-heading, .pager li > a, .pager li > span, .breadcrumb, .nav-tabs > li > a, .nav-pills > li > a {
    border-radius: 0;
}
.mass-head.inner .breadcrumb {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 0 none;
    float: right;
    margin-bottom: 10px;
    margin-top: 0;
}
.mass-head.inner .breadcrumb li, .mass-head.inner .breadcrumb a {
    text-decoration: none;
}
.mass-head.inner .breadcrumb > li + li:before {
    content: "// ";
    padding: 0 5px;
}
@media (max-width: 992px) {
.mass-head.inner .breadcrumb {
    float: left;
    padding: 0;
}
}
.mass-head.inner.bg-danger h1, .mass-head.inner.bg-primary h1, .mass-head.inner.bg-success h1, .mass-head.inner.bg-warning h1, .mass-head.inner.bg-info h1, .mass-head.inner.dark h1, .mass-head.inner.gray h1, .mass-head.inner.bg-danger .breadcrumb, .mass-head.inner.bg-primary .breadcrumb, .mass-head.inner.bg-success .breadcrumb, .mass-head.inner.bg-warning .breadcrumb, .mass-head.inner.bg-info .breadcrumb, .mass-head.inner.dark .breadcrumb, .mass-head.inner.gray .breadcrumb, .mass-head.inner.bg-danger .breadcrumb li, .mass-head.inner.bg-primary .breadcrumb li, .mass-head.inner.bg-success .breadcrumb li, .mass-head.inner.bg-warning .breadcrumb li, .mass-head.inner.bg-info .breadcrumb li, .mass-head.inner.dark .breadcrumb li, .mass-head.inner.gray .breadcrumb li, .mass-head.inner.bg-danger .breadcrumb a, .mass-head.inner.bg-primary .breadcrumb a, .mass-head.inner.bg-success .breadcrumb a, .mass-head.inner.bg-warning .breadcrumb a, .mass-head.inner.bg-info .breadcrumb a, .mass-head.inner.dark .breadcrumb a, .mass-head.inner.gray .breadcrumb a, .mass-head.inner.bg-danger .breadcrumb > li + li:before, .mass-head.inner.bg-primary .breadcrumb > li + li:before, .mass-head.inner.bg-success .breadcrumb > li + li:before, .mass-head.inner.bg-warning .breadcrumb > li + li:before, .mass-head.inner.bg-info .breadcrumb > li + li:before, .mass-head.inner.dark .breadcrumb > li + li:before, .mass-head.inner.gray .breadcrumb > li + li:before {
    color: rgba(255, 255, 255, 0.95);
}
.mass-head.inner.bg-danger .breadcrumb li:hover, .mass-head.inner.bg-primary .breadcrumb li:hover, .mass-head.inner.bg-success .breadcrumb li:hover, .mass-head.inner.bg-warning .breadcrumb li:hover, .mass-head.inner.bg-info .breadcrumb li:hover, .mass-head.inner.dark .breadcrumb li:hover, .mass-head.inner.gray .breadcrumb li:hover, .mass-head.inner.bg-danger .breadcrumb a:hover, .mass-head.inner.bg-primary .breadcrumb a:hover, .mass-head.inner.bg-success .breadcrumb a:hover, .mass-head.inner.bg-warning .breadcrumb a:hover, .mass-head.inner.bg-info .breadcrumb a:hover, .mass-head.inner.dark .breadcrumb a:hover, .mass-head.inner.gray .breadcrumb a:hover {
    color: #fff;
}
@media (min-width: 992px) {
.mass-head {
    padding: 120px 0 0;
}
.mass-head.inner {
    padding: 140px 0 0;
}
.mass-head.inner .breadcrumb {
    margin-bottom: 0;
}
}
.page-header {
    border-bottom: 1px solid #e5e5e5;
    margin: 30px 0 15px;
}
.page-header h1 {
    font-size: 26px;
    margin: 0;
}
.page-header h1 *:before {
    color: #d15050;
    content: "";
    font-family: FontAwesome;
    margin-right: 4px;
}
.page-header .sub-title {
    color: #999;
    font-size: 60%;
    text-transform: none;
}
.page-header.title {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    color: #414141;
    margin: 0 -15px 25px;
    padding: 15px;
}
@media (max-width: 639px) {
.page-header.title h1 {
    font-size: 21px;
}
}
.login-box .page-header {
    margin: -15px 0 15px;
}
.well p:last-child, .portlet .portlet-body p:last-child {
    margin: 0;
}
.space-2x .tile-button, .space-2x .portlet, .space-2x .well, .space-2x .panel, .space-2x .note, .space-2x .notice, .space-2x .progress, .space-2x .alert, .space-2x .pricing-table-1, .space-2x .pricing-table-2, .space-2x .pricing-table-3, .space-2x .pricing-table-4, .space-2x .tc-tabsbar, .space-2x .tc-tabs, .space-2x dl {
    margin-bottom: 20px;
}
.space-2x .well, .space-2x .portlet .portlet-body {
    padding: 25px;
}
.space-2x .well .well, .space-2x .portlet .portlet-body .well {
    padding: 15px;
}
.portlet {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;
}
.portlet .portlet-heading {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #e5e5e5;
    line-height: 38px;
    min-height: 39px;
    padding: 0 15px;
}
.portlet .portlet-heading .fa, .portlet .portlet-heading .glyphicon {
    opacity: 0.55;
}
.portlet .portlet-heading.dark a, .portlet .portlet-heading.bg-info a, .portlet .portlet-heading.bg-success a, .portlet .portlet-heading.bg-primary a, .portlet .portlet-heading.bg-danger a, .portlet .portlet-heading.bg-warning a, .portlet .portlet-heading.inverse a {
    color: #fff;
}
.portlet .portlet-heading.dark small, .portlet .portlet-heading.bg-info small, .portlet .portlet-heading.bg-success small, .portlet .portlet-heading.bg-primary small, .portlet .portlet-heading.bg-danger small, .portlet .portlet-heading.bg-warning small, .portlet .portlet-heading.inverse small {
    color: #999;
}
.portlet .portlet-heading.dark .nav li.active > a, .portlet .portlet-heading.bg-info .nav li.active > a, .portlet .portlet-heading.bg-success .nav li.active > a, .portlet .portlet-heading.bg-primary .nav li.active > a, .portlet .portlet-heading.bg-danger .nav li.active > a, .portlet .portlet-heading.bg-warning .nav li.active > a, .portlet .portlet-heading.inverse .nav li.active > a {
    color: #686868;
}
.portlet .portlet-heading .nav li {
    margin-bottom: auto;
}
.portlet .portlet-heading .nav li > a {
    font-size: 13px;
    padding: 7.5px 15px;
}
.portlet .portlet-heading .nav li:not(.active) > a {
    background-color: transparent;
    border-color: transparent;
}
.portlet .portlet-heading .nav li.active > a {
    background-color: #fff;
    border-bottom-color: transparent;
    box-shadow: none;
    color: #686868;
}
.portlet .portlet-heading .nav.nav-tabs {
    border-bottom: 0 none;
    bottom: -5px;
    float: right;
    margin-bottom: 0;
    position: relative;
}
.portlet .portlet-heading .portlet-title {
    float: left;
}
.portlet .portlet-heading a {
    color: #999;
}
.portlet .portlet-heading a:hover, .portlet .portlet-heading a:focus, .portlet .portlet-heading a:active {
    outline: 0 none;
}
.portlet .portlet-heading h4 {
    font-size: 14px;
    line-height: 37px;
    margin: 0;
}
.portlet .portlet-heading .portlet-widgets {
    display: inline-block;
    float: right;
    font-size: 15px;
    line-height: 37px;
    padding-left: 15px;
    position: relative;
    text-align: right;
}
.portlet .portlet-heading .portlet-widgets:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.1);
    border-image: none;
    border-style: solid;
    border-width: 0 1px 0 0;
    bottom: 3px;
    content: "";
    display: inline-block;
    left: -1px;
    position: absolute;
    top: 3px;
}
.portlet .portlet-heading .portlet-widgets .divider {
    margin: 0 3px;
}
.portlet .portlet-heading .portlet-widgets .fa:hover {
    opacity: 1;
    transform: scale(1.2);
}
.portlet .portlet-heading .portlet-widgets .dropdown-menu a {
    color: #555;
}
.portlet .portlet-heading .portlet-widgets ul.dropdown-menu {
    min-width: 0;
}
.portlet .portlet-heading.no-left-border .portlet-widgets:before {
    border: 0 none;
}
.portlet form .form-actions {
    padding: 15px 10px 0;
}
.portlet.no-border {
    border: 0 none;
}
.portlet .portlet-body {
    background: none repeat scroll 0 0 #fff;
    padding: 15px;
}
.portlet .portlet-body .table {
    margin-bottom: 0;
}
.portlet .portlet-body .table > thead > tr > th, .portlet .portlet-body .table > thead > tr > td {
    border-bottom: 3px double #e5e5e5;
}
.portlet .portlet-body .datepicker.datepicker-inline {
    margin: 0;
}
.portlet .portlet-body.no-padding .table.table-bordered {
    border-width: 1px 0 0;
}
.portlet .portlet-body.no-padding .table.table-bordered th:first-child, .portlet .portlet-body.no-padding .table.table-bordered td:first-child {
    border-left: 0 none;
}
.portlet .portlet-body.no-padding .table.table-bordered th:last-child, .portlet .portlet-body.no-padding .table.table-bordered td:last-child {
    border-right: 0 none;
}
.portlet .portlet-body.no-padding .table.table-bordered tr:last-child td {
    border-bottom: 0 none;
}
.portlet .portlet-footer {
    background: none repeat scroll 0 0 #f2f2f2;
    border-top: 1px solid #e5e5e5;
    padding: 10px 15px;
}
.portlet .portlet-footer ul {
    margin: 0;
}
.portlet.hidden-widgets .portlet-widgets {
    display: none;
}
.portlet.hidden-widgets:hover .portlet-widgets {
    display: block;
}
.portlet.portlet-primary .portlet-heading, .portlet.portlet-success .portlet-heading, .portlet.portlet-warning .portlet-heading, .portlet.portlet-info .portlet-heading, .portlet.portlet-danger .portlet-heading, .portlet.portlet-dark .portlet-heading, .portlet.portlet-gray .portlet-heading, .portlet.portlet-inverse .portlet-heading {
    color: #fff;
}
.portlet.portlet-primary .portlet-heading a, .portlet.portlet-success .portlet-heading a, .portlet.portlet-warning .portlet-heading a, .portlet.portlet-info .portlet-heading a, .portlet.portlet-danger .portlet-heading a, .portlet.portlet-dark .portlet-heading a, .portlet.portlet-gray .portlet-heading a, .portlet.portlet-inverse .portlet-heading a {
    color: #fff;
}
.portlet.portlet-basic .portlet-heading {
    background: none repeat scroll 0 0 #f2f2f2;
}
.portlet.portlet-basic .portlet-heading a {
    color: #999;
}
.portlet-gray > .portlet-heading {
    background-color: #555;
}
.portlet-dark > .portlet-heading, .portlet-inverse > .portlet-heading {
    background-color: #414141;
}
.portlet-success > .portlet-heading {
    background-color: #72af46;
}
.portlet-danger > .portlet-heading {
    background-color: #bd362f;
}
.portlet-info > .portlet-heading {
    background-color: #466baf;
}
.portlet-warning > .portlet-heading {
    background-color: #ab7a4b;
}
.portlet-primary > .portlet-heading {
    background-color: #d15050;
}
.portlet-primary, .portlet-primary > .portlet-heading {
    border-color: #d15050;
}
.portlet-danger, .portlet-danger > .portlet-heading {
    border-color: #bd362f;
}
.portlet-success, .portlet-success > .portlet-heading {
    border-color: #72af46;
}
.portlet-warning, .portlet-warning > .portlet-heading {
    border-color: #ab7a4b;
}
.portlet-info, .portlet-info > .portlet-heading {
    border-color: #466baf;
}
.portlet-gray, .portlet-gray > .portlet-heading {
    border-color: #555;
}
.portlet-dark, .portlet-dark > .portlet-heading, .portlet-inverse, .portlet-inverse > .portlet-heading {
    border-color: #414141;
}
.alert.dark a, .note.dark a, .alert.bg-info a, .note.bg-info a, .alert.bg-succsss a, .note.bg-succsss a, .alert.bg-primary a, .note.bg-primary a, .alert.bg-success a, .note.bg-success a, .alert.bg-warning a, .note.bg-warning a {
    color: #fff;
}
.mass-head.inner.bg-danger small, .mass-head.inner.bg-primary small, .mass-head.inner.bg-success small, .mass-head.inner.bg-warning small, .mass-head.inner.bg-info small, .mass-head.inner.dark small, .mass-head.inner.gray small {
    color: rgba(255, 255, 255, 0.65);
}
.pricing-table-2 .tag .bg-danger, .pricing-table-2 .tag .bg-primary, .pricing-table-2 .tag .bg-success, .pricing-table-2 .tag .bg-warning, .pricing-table-2 .tag .bg-info, .pricing-table-2 .tag .dark, .pricing-table-2 .tag .gray, .pricing-table-2 .tag .inverse {
    background-color: transparent !important;
}
.gritter-item-wrapper.dark .gritter-item, .gritter-item-wrapper.bg-info .gritter-item, .gritter-item-wrapper.bg-succsss .gritter-item, .gritter-item-wrapper.bg-primary .gritter-item, .gritter-item-wrapper.bg-success .gritter-item, .gritter-item-wrapper.bg-warning .gritter-item, .gritter-item-wrapper .inverse .gritter-item {
    color: #fff;
}
.bg-primary, .bg-success, .bg-danger, .bg-info, .bg-warning, .gray, .dark, .inverse, .bg-gray {
    color: #fff !important;
}
.bg-primary.note .close, .bg-success.note .close, .bg-danger.note .close, .bg-info.note .close, .bg-warning.note .close, .gray.note .close, .dark.note .close, .inverse.note .close, .bg-gray.note .close, .bg-primary.alert .close, .bg-success.alert .close, .bg-danger.alert .close, .bg-info.alert .close, .bg-warning.alert .close, .gray.alert .close, .dark.alert .close, .inverse.alert .close, .bg-gray.alert .close {
    color: #fff;
    opacity: 1;
}
.bg-primary {
    background-color: #d15050 !important;
    border-color: #d15050 !important;
}

.bg-success {
    background-color: #72af46 !important;
    border-color: #72af46 !important;
}
.text-success {
    color: #72af46 !important;
}
.bg-warning {
    background-color: #ab7a4b !important;
    border-color: #ab7a4b !important;
}
.text-warning {
    color: #ab7a4b !important;
}
.bg-danger {
    background-color: #bd362f !important;
    border-color: #bd362f !important;
}
.text-danger {
    color: #bd362f !important;
}
.bg-info {
    background-color: #466baf !important;
    border-color: #466baf !important;
}
.text-info {
    color: #466baf !important;
}
.dark, .inverse {
    background-color: #414141 !important;
    border-color: #414141 !important;
}
.text-gray {
    color: #999 !important;
}
.bg-gray {
    background-color: #555 !important;
}
.white {
    background-color: #fff !important;
}
.text-white {
    color: #fff !important;
}
.light {
    background-color: #f2f2f2 !important;
    border-color: #f2f2f2 !important;
    color: #555 !important;
}
.tc-table {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 15px;
}
.tc-table.table > thead > tr > th, .tc-table.table > thead > tr > td {
    border-bottom: 3px double #e5e5e5;
    border-color: #e5e5e5;
}
.tc-table.table > thead > tr > th label, .tc-table.table > thead > tr > td label {
    margin-bottom: 0;
}
.tc-table.table .col-small {
    min-width: 45px;
    width: 45px;
}
.tc-table.table .col-small.center {
    text-align: center;
}
.tc-table.table .col-medium {
    min-width: 125px;
    width: 125px;
}
.tc-table.table .col-medium.center {
    text-align: center;
}
@media (max-width: 992px) {
.tc-table.table .tool-bars {
    min-width: 45px;
    width: 45px;
}
}
.tc-table.table label {
    margin-bottom: 0;
}
.tc-table.table ul.table-mobile-ul {
    border-left: 2px solid #e5e5e5;
    margin-top: 5px;
    padding-left: 5px;
}
.tc-table.table > thead > tr > th[class*="sorted"] {
    color: #d15050;
}
@media (max-width: 360px) {
.tc-table.table {
    font-size: 12px;
}
}
.tc-table.footable > thead > tr > th > span.footable-sort-indicator {
    color: #999;
    float: right;
    margin-right: 4px;
}
.tc-table.table-bordered {
    border: 1px solid #e5e5e5;
}
.tc-table.table-bordered > thead > tr > th, .tc-table.table-bordered > tbody > tr > th, .tc-table.table-bordered > tfoot > tr > th, .tc-table.table-bordered > thead > tr > td, .tc-table.table-bordered > tbody > tr > td, .tc-table.table-bordered > tfoot > tr > td {
    border: 1px solid #e5e5e5;
}
.tc-table.table-bordered > thead > tr > th, .tc-table.table-bordered > thead > tr > td {
    border-bottom: 3px double #e5e5e5;
}
.tc-table.table-primary.table > thead > tr > th, .tc-table.table-primary.table > thead > tr > td {
    background: none repeat scroll 0 0 #d15050;
    border-bottom-width: 1px;
    color: #fff;
}
.tc-table.table-primary.footable > thead > tr > th > span.footable-sort-indicator {
    color: #fff;
}
.tc-table.table-primary.table-bordered > thead {
    border-bottom: 2px solid #c93535;
}
.tc-table.table-primary.table-bordered > thead > tr > th {
    border: 1px solid #c93535;
}
.tc-table.table-primary.table-bordered > thead > tr > th:first-child {
    border-left: 1px solid #c93535;
}
.tc-table.table-primary.table-bordered > thead > tr > th:last-child {
    border-right: 1px solid #c93535;
}
.tc-table.table-primary.table-bordered.dataTable {
    margin-bottom: 0;
}
.tc-table.table-primary.table-bordered.dataTable th[class*="sort"]:after {
    color: #fff;
}
.tc-table.table-primary.table-bordered.dataTable th[class*="sorting_"], .tc-table.table-primary.table-bordered.dataTable th.sorting_desc:after, .tc-table.table-primary.table-bordered.dataTable th.sorting_asc:after {
    color: #fff;
}
.dataTable {
    margin-bottom: 0;
}
.dataTable th[class*="sort"] {
    cursor: pointer;
    outline: 0 none !important;
}
.dataTable th[class*="sort"]:after {
    color: #999;
    content: "";
    display: inline-block;
    float: right;
    font-family: FontAwesome;
    font-size: 13px;
    font-weight: 400;
    margin-right: 4px;
    position: relative;
}
.dataTable th[class*="sorting_"] {
    color: #d15050;
}
.dataTable th.sorting_desc:after {
    color: #999;
    content: "";
    top: -6px;
}
.dataTable th.sorting_asc:after {
    color: #999;
    content: "";
    top: 4px;
}
input.tc[type="checkbox"], input.tc[type="radio"] {
    cursor: pointer;
    height: 17px;
    opacity: 0;
    position: absolute;
    width: 17px;
    z-index: 12;
}
input.tc[type="checkbox"]:checked, input.tc[type="radio"]:checked, input.tc[type="checkbox"]:focus, input.tc[type="radio"]:focus {
    outline: 0 none !important;
}
input.tc[type="checkbox"] + .labels, input.tc[type="radio"] + .labels {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    min-height: 18px;
    min-width: 18px;
    position: relative;
    z-index: 11;
}
input.tc[type="checkbox"] + .labels:before, input.tc[type="radio"] + .labels:before {
    background-color: #fafafa;
    border: 1px solid #dc7878;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    content: " ";
    display: inline-block;
    font-family: fontAwesome;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    line-height: 14px;
    margin-right: 1px;
    min-width: 16px;
    text-align: center;
    vertical-align: middle;
}
input.tc[type="checkbox"]:checked + .labels:before, input.tc[type="radio"]:checked + .labels:before {
    background-color: #dc7878;
    border-color: #dc7878;
    content: "";
    display: inline-block;
}
input.tc[type="checkbox"]:hover + .labels:before, input.tc[type="radio"]:hover + .labels:before, input.tc[type="checkbox"] + .labels:hover:before, input.tc[type="radio"] + .labels:hover:before {
    border-color: #dc7878;
}
input.tc[type="checkbox"]:active + .labels:before, input.tc[type="radio"]:active + .labels:before, input.tc[type="checkbox"]:checked:active + .labels:before, input.tc[type="radio"]:checked:active + .labels:before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
input.tc.tc-gray[type="checkbox"] + .labels:before, input.tc.tc-gray[type="radio"] + .labels:before {
    border-color: #555;
    box-shadow: none;
}
input.tc.tc-gary[type="checkbox"]:checked + .labels:before, input.tc.tc-gary[type="radio"]:checked + .labels:before {
    background-color: #555;
    border-color: #555;
    color: #fff;
}
input.tc.tc-danger[type="checkbox"] + .labels:before, input.tc.tc-danger[type="radio"] + .labels:before {
    border-color: #bd362f;
    box-shadow: none;
}
input.tc.tc-danger[type="checkbox"]:checked + .labels:before, input.tc.tc-danger[type="radio"]:checked + .labels:before {
    background-color: #bd362f;
    border-color: #bd362f;
    color: #fff;
}
input.tc.tc-success[type="checkbox"] + .labels:before, input.tc.tc-success[type="radio"] + .labels:before {
    border-color: #72af46;
    box-shadow: none;
}
input.tc.tc-success[type="checkbox"]:checked + .labels:before, input.tc.tc-success[type="radio"]:checked + .labels:before {
    background-color: #72af46;
    border-color: #72af46;
    color: #fff;
}
input.tc.tc-info[type="checkbox"] + .labels:before, input.tc.tc-info[type="radio"] + .labels:before {
    border-color: #466baf;
    box-shadow: none;
}
input.tc.tc-info[type="checkbox"]:checked + .labels:before, input.tc.tc-info[type="radio"]:checked + .labels:before {
    background-color: #466baf;
    border-color: #466baf;
    color: #fff;
}
input.tc.tc-primary[type="checkbox"] + .labels:before, input.tc.tc-primary[type="radio"] + .labels:before {
    border-color: #d15050;
    box-shadow: none;
}
input.tc.tc-primary[type="checkbox"]:checked + .labels:before, input.tc.tc-primary[type="radio"]:checked + .labels:before {
    background-color: #d15050;
    border-color: #d15050;
    color: #fff;
}
input.tc.tc-warning[type="checkbox"] + .labels:before, input.tc.tc-warning[type="radio"] + .labels:before {
    border-color: #ab7a4b;
    box-shadow: none;
}
input.tc.tc-warning[type="checkbox"]:checked + .labels:before, input.tc.tc-warning[type="radio"]:checked + .labels:before {
    background-color: #ab7a4b;
    border-color: #ab7a4b;
    color: #fff;
}
input.tc[type="checkbox"]:disabled + .labels:before, input.tc[type="radio"]:disabled + .labels:before, input.tc[type="checkbox"][disabled] + .labels:before, input.tc[type="radio"][disabled] + .labels:before, input.tc.disabled[type="checkbox"] + .labels:before, input.tc.disabled[type="radio"] + .labels:before {
    background-color: #f2f2f2 !important;
    border-color: #e5e5e5 !important;
    box-shadow: none !important;
    color: #bbb;
}
input.tc[type="radio"] + .labels:before {
    border-radius: 100%;
    font-family: FontAwesome;
    font-size: 11px;
    height: 17px;
    line-height: 15px;
    min-width: 17px;
    text-shadow: 0 0 1px #fff;
}
input.tc[type="radio"]:checked + .labels:before {
    content: "";
    font-size: 13px;
}
input.tc.tc-switch[type="checkbox"] {
    height: 25px;
    width: 55px;
}
input.tc.tc-switch[type="checkbox"] + .labels {
    margin: 0 4px;
    min-height: 24px;
}
input.tc.tc-switch[type="checkbox"] + .labels:before {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    color: #555;
    content: "ON         OFF";
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 700;
    height: 20px;
    line-height: 18px;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    text-indent: -19px;
    transition: text-indent 0.4s ease 0s;
    width: 52px;
}
input.tc.tc-switch[type="checkbox"] + .labels:after {
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: #555;
    content: "|||";
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: lighter;
    height: 22px;
    left: -3px;
    line-height: 20px;
    padding: 0;
    position: absolute;
    text-align: center;
    text-shadow: -1px 0 0 rgba(0, 0, 0, 0.15);
    top: -2px;
    transition: left 0.4s ease 0s;
    width: 22px;
}
input.tc.tc-switch[type="checkbox"]:checked + .labels:before {
    background-color: #f1c9c9;
    border-color: #d15050;
    color: #fff;
    text-indent: 9px;
}
input.tc.tc-switch[type="checkbox"]:checked + .labels:after {
    background-color: #fff;
    color: #f1c9c9;
    left: 34px;
}
input.tc.tc-switch.tc-switch-2[type="checkbox"] + .labels:before {
    content: "YES        NO";
}
input.tc.tc-switch.tc-switch-3[type="checkbox"] + .labels:after {
    content: "";
    font-family: FontAwesome;
    font-size: 13px;
    line-height: 23px;
    top: -1px;
}
input.tc.tc-switch.tc-switch-3[type="checkbox"]:checked + .labels:after {
    content: "";
}
input.tc.tc-switch.tc-switch-4[type="checkbox"] + .labels:before, input.tc.tc-switch.tc-switch-5[type="checkbox"] + .labels:before {
    background-color: #d15050;
    border: 1px solid #d15050;
    border-radius: 12px;
    box-shadow: none;
    color: #fff;
    content: "ON           OFF";
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bolder;
    height: 24px;
    line-height: 23px;
    overflow: hidden;
    position: relative;
    text-indent: -25px;
    transition: all 0.4s ease 0s;
    width: 56px;
}
input.tc.tc-switch.tc-switch-4[type="checkbox"] + .labels:after, input.tc.tc-switch.tc-switch-5[type="checkbox"] + .labels:after {
    background-color: #fff;
    border-radius: 12px;
    color: #555;
    content: "|||";
    font-family: Helvetica,Arial,sans-serif;
    font-size: 8px;
    font-weight: lighter;
    height: 20px;
    left: 2px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    text-shadow: -1px 0 0 rgba(0, 0, 0, 0.2);
    top: 2px;
    transition: all 0.4s ease 0s;
    width: 20px;
}
input.tc.tc-switch.tc-switch-4[type="checkbox"]:checked + .labels:before, input.tc.tc-switch.tc-switch-5[type="checkbox"]:checked + .labels:before {
    background-color: #999;
    border-color: #d15050;
    text-indent: 9px;
}
input.tc.tc-switch.tc-switch-4[type="checkbox"]:checked + .labels:after, input.tc.tc-switch.tc-switch-5[type="checkbox"]:checked + .labels:after {
    background-color: #fff;
    left: 34px;
}
input.tc.tc-switch.tc-switch-5[type="checkbox"] + .labels:before {
    content: "YES          NO";
}
input.tc.tc-switch.tc-switch-5[type="checkbox"]:checked + .labels:before {
    text-indent: 8px;
}
input.tc.tc-switch.tc-switch-6[type="checkbox"] + .labels {
    position: relative;
}
input.tc.tc-switch.tc-switch-6[type="checkbox"] + .labels:before {
    background-color: #555;
    border: 0 none;
    border-radius: 12px;
    box-shadow: none;
    color: #fff;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    font-weight: lighter;
    height: 22px;
    line-height: 20px;
    text-indent: 32px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: background 0.1s ease 0s;
    width: 52px;
}
input.tc.tc-switch.tc-switch-6[type="checkbox"] + .labels:after {
    background-color: #f2f2f2;
    border: 4px solid #f2f2f2;
    border-radius: 12px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    content: "";
    height: 18px;
    left: 3px;
    position: absolute;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    top: 2px;
    transition: left 0.2s ease 0s;
    width: 18px;
}
input.tc.tc-switch.tc-switch-6[type="checkbox"]:checked + .labels:before {
    background-color: #d15050;
    border-color: #6c1c1c;
    color: #fff;
    content: "";
    text-indent: 6px;
}
input.tc.tc-switch.tc-switch-6[type="checkbox"]:checked + .labels:after {
    background-color: #fff;
    border: 4px solid #fff;
    left: 32px;
    text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25);
}
input.tc.tc-switch.tc-switch-7[type="checkbox"] {
    width: 75px;
}
input.tc.tc-switch.tc-switch-7[type="checkbox"] + .labels {
    position: relative;
}
input.tc.tc-switch.tc-switch-7[type="checkbox"] + .labels:before {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 0;
    box-shadow: none;
    color: #999;
    content: "OFF           ON";
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    height: 26px;
    line-height: 22px;
    overflow: hidden;
    position: relative;
    text-indent: 4px;
    transition: all 0.2s ease 0s;
    width: 74px;
}
input.tc.tc-switch.tc-switch-7[type="checkbox"] + .labels:after {
    background-color: #999;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    content: "";
    font-family: FontAwesome;
    font-size: 16px;
    height: 20px;
    left: 39px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 3px;
    transition: all 0.2s ease-in-out 0s;
    width: 32px;
}
input.tc.tc-switch.tc-switch-7[type="checkbox"]:checked + .labels:before {
    background-color: #fff;
    border-color: #d15050;
    color: #d15050;
    text-indent: -33px;
}
input.tc.tc-switch.tc-switch-7[type="checkbox"]:checked + .labels:after {
    background-color: #d15050;
    color: #fff;
    content: "";
    left: 3px;
}
.btn-circle.btn-xs {
    border-radius: 15px;
    font-size: 11px;
    height: 30px;
    padding: 6px 0;
    width: 30px;
}
.btn-xs, .btn-group-xs > .btn {
    padding: 0 5px;
}
.btn-group-xs .btn, .btn-group-sm .btn, btn-group-lg .btn {
    border-radius: 0;
}
.btn.tile-button.btn-dark, .btn.tile-button.btn-inverse {
    border-color: #444;
}
.btn.tile-button.btn-dark:hover, .btn.tile-button.btn-inverse:hover {
    color: #555;
}
.btn.tile-button.btn-line.btn-dark:active, .btn.tile-button.btn-line.btn-gray:active, .btn.tile-button.btn-line.btn-inverse:active, .btn.tile-button.btn-line.btn-dark:focus, .btn.tile-button.btn-line.btn-gray:focus, .btn.tile-button.btn-line.btn-inverse:focus {
    color: #414141;
}
.btn-dark, .btn-gray, .btn-inverse {
    background-color: #222;
    border-color: #161616;
    color: #fff;
}
.btn-dark:hover, .btn-gray:hover, .btn-inverse:hover, .btn-dark:focus, .btn-gray:focus, .btn-inverse:focus, .btn-dark.focus, .btn-gray.focus, .btn-inverse.focus, .btn-dark:active, .btn-gray:active, .btn-inverse:active, .btn-dark.active, .btn-gray.active, .btn-inverse.active, .open > .dropdown-toggle.btn-dark, .open > .dropdown-toggle.btn-gray, .open > .dropdown-toggle.btn-inverse {
    background-color: #090909;
    border-color: #000;
    color: #fff;
}
.btn-dark:active, .btn-gray:active, .btn-inverse:active, .btn-dark.active, .btn-gray.active, .btn-inverse.active, .open > .dropdown-toggle.btn-dark, .open > .dropdown-toggle.btn-gray, .open > .dropdown-toggle.btn-inverse {
    background-image: none;
}
.btn-dark.disabled, .btn-gray.disabled, .btn-inverse.disabled, .btn-dark[disabled], .btn-gray[disabled], .btn-inverse[disabled], fieldset[disabled] .btn-dark, fieldset[disabled] .btn-gray, fieldset[disabled] .btn-inverse, .btn-dark.disabled:hover, .btn-gray.disabled:hover, .btn-inverse.disabled:hover, .btn-dark[disabled]:hover, .btn-gray[disabled]:hover, .btn-inverse[disabled]:hover, fieldset[disabled] .btn-dark:hover, fieldset[disabled] .btn-gray:hover, fieldset[disabled] .btn-inverse:hover, .btn-dark.disabled:focus, .btn-gray.disabled:focus, .btn-inverse.disabled:focus, .btn-dark[disabled]:focus, .btn-gray[disabled]:focus, .btn-inverse[disabled]:focus, fieldset[disabled] .btn-dark:focus, fieldset[disabled] .btn-gray:focus, fieldset[disabled] .btn-inverse:focus, .btn-dark.disabled.focus, .btn-gray.disabled.focus, .btn-inverse.disabled.focus, .btn-dark.focus[disabled], .btn-gray.focus[disabled], .btn-inverse.focus[disabled], fieldset[disabled] .btn-dark.focus, fieldset[disabled] .btn-gray.focus, fieldset[disabled] .btn-inverse.focus, .btn-dark.disabled:active, .btn-gray.disabled:active, .btn-inverse.disabled:active, .btn-dark[disabled]:active, .btn-gray[disabled]:active, .btn-inverse[disabled]:active, fieldset[disabled] .btn-dark:active, fieldset[disabled] .btn-gray:active, fieldset[disabled] .btn-inverse:active, .btn-dark.disabled.active, .btn-gray.disabled.active, .btn-inverse.disabled.active, .btn-dark.active[disabled], .btn-gray.active[disabled], .btn-inverse.active[disabled], fieldset[disabled] .btn-dark.active, fieldset[disabled] .btn-gray.active, fieldset[disabled] .btn-inverse.active {
    background-color: #222;
    border-color: #161616;
}
.btn-dark .badge, .btn-gray .badge, .btn-inverse .badge {
    background-color: #fff;
    color: #222;
}
.btn-dark:hover, .btn-gray:hover, .btn-inverse:hover, .btn-dark:focus, .btn-gray:focus, .btn-inverse:focus, .btn-dark.focus, .btn-gray.focus, .btn-inverse.focus, .btn-dark:active, .btn-gray:active, .btn-inverse:active, .btn-dark.active, .btn-gray.active, .btn-inverse.active, .open > .dropdown-toggle.btn-dark, .open > .dropdown-toggle.btn-gray, .open > .dropdown-toggle.btn-inverse {
    background-color: #161616;
    border-color: #161616;
    color: #fff;
}