/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/18px Ubuntu, sans-serif;
    color: #686868;
	height: 100%;
    background: #F5F5F5;
}
.wrapper {
	width: 100%;
	min-width: 320px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
/*.header {
	height: 50px;
	background: #2A2A2A;
}*/

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	margin: 0 0 0 215px;
    overflow: auto;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 215px;
	margin-left: -100%;
	position: relative;
	background: #404040;
}
.left-sidebar .media {
    border-bottom: 1px solid #2f2f2f;
    padding: 2px 0px;
}
.left-sidebar .media .sidebar-shortcuts {
    display: block;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 4px 0;
    text-align: center;
}
.left-sidebar .media .sidebar-shortcuts li {
    display: inline-block;
}
.left-sidebar .media .sidebar-shortcuts li .btn {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #2f2f2f;
    padding: 3px 13px;
    transition: all 0.3s ease 0s;
    color: #666;
}
.left-sidebar .media .sidebar-shortcuts li .btn:hover {
    background-color: #515151;
    color: #fff;
}
.left-sidebar .add-link {
    color: #666;
    transition: all 0.3s ease 0s;
    float: right;
}
.left-sidebar .add-link:hover {
    color: #fff;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -100px auto 0;
	min-width: 320px;
	/*height: 100px;*/
	background: #BFF08E;
	position: relative;
}

/*---------------------------------------------------------------------------*/
.nav li, .nav li>span, .nav li>a {
    border-bottom: 1px solid #2F2F2F;
    font-family: Ubuntu;
}
.nav h4 {
    text-transform: uppercase;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #666;
    text-align: center;
}
.nav h4:after {
    content: "";
    margin-left: 4px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
}
.nav-link {
    color: #FFF;
    background-color: #373737;
    outline: 0px none;
    padding: 10px;
    text-shadow: none !important;
    display: block;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}
 .nav-link {
    color: #666;
}
.nav-link.active {
    color: #fff;
}
.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link.active {
	background-color: #414141;
    color: #fff;
}
.list.active span.nav-link, .list a {
    color: #fff;
    text-decoration: none;
}
.list.active {
    border-right: 3px solid #D15050;
}
.list.active ul {
    display: block;
}
.list ul {
    display: none;
}
.nav-link.active:after {
    display: block;
    content: "";
    position: absolute !important;
    right: 0px;
    top: 4px;
    border-color: transparent #D15050 transparent transparent;
    border-width: 16px 10px;
    border-style: solid;
}
ul ul ul li {
    padding-left: 10px;
}
.nav .arrow {
    float: right;
}
.nav .list.open > .nav-link > .fa.arrow:before {
    content: "";
    color: #fff;
}
.nav .list > .nav-link > .fa.arrow:before {
    content: "";
    color: #666;
}
.nav>li ul {
    display: none;
}
.nav>li._opened ul {
    display: block;
}
.nav h4 {
    cursor: pointer;
}
.content h1 {
    background: #FFF;
    color: #414141;
    font-size: 20px;
    padding: 15px;
    border-bottom: 1px solid #E5E5E5;
}
.content h1 .sub-title {
    font-size: 75%;
    color: #999;
}
.content h1 .sub-title:before {
    content: "";
    margin-right: 4px;
    font-family: FontAwesome;
    color: #D15050;
}

ul.horizontal, ul.horizontal li {
    display: inline-block;
}
.table-actions {
    float: right;
}
.page-nav {
    float: right;
    margin-right: 50px;
    color: #686868;
    font-size: 16px;
}
.page-nav ul {
    border: 1px solid #DDD;
}
.page-nav li {
    border-right: 1px solid #DDD;
    float: left;
}
.page-nav li:last-child {
    border-right: none;
}
.page-nav li.active {
    background: #D15050;
    color: #fff;
}
.page-nav li a {
    color: #D15050;
    text-decoration: none;
}
.page-nav span, .page-nav a {
    padding: 5px 9px;
    display: inline-block;
}
.popup {
    position: fixed;
    right: 0;
    display: inline-block;
    top: 56px;
    max-height: calc(100% - 80px);
    overflow-y: auto;
    background: #FFFFFF;
}
.popup-form form {
    padding: 20px;
}
.popup>.portlet {
    margin: 0;
}
._close, ._remove_parent {
    float: right;
    cursor: pointer;
}
.content>form>.portlet {
    margin: 20px;
}
.portlet table.tc-table {
    width: 100%;
}
.portlet table th {
    font-weight: bold;
}
.portlet table th, .portlet table td {
    padding: 8px;
}
.portlet table tbody tr:hover {
    background: #F5F5F5;
}
.portlet table td img {
    max-height: 30px;
}
.btn-danger, .btn-success {
    color: #fff;
}
.btn {
    padding: 6px 12px;
    border: 1px solid gray;
    display: inline-block;
    font-size: 12px;
}
select {
    padding: 4px 6px;
    color: #686868;
    border: 1px solid #e5e5e5;
    line-height: 1.42857143;
}
.sort-icon:before {
    content: "";
    margin-left: 5px;
}
.portlet table td.image {
    padding: 0;
}
.portlet th, .portlet th>a {
    color: #686868;
    text-decoration: none;
    text-transform: capitalize;
}
.tc-tabs {
    margin-bottom: 15px;
    font-size: 14px;
}
.tc-tabs .nav-tabs {
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    border-bottom: 0 none;
    padding: 15px 15px 0;
    position: relative;
    list-style: none;
    display: block;
    z-index: 1;
}
.tc-tabs .tab-content {
    padding: 15px;
    border: 1px solid #e5e5e5;
    position: relative;
    background: #fff;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
    padding: 5px 12px;
    color: #fff;
    background-color: #d15050;
    border-color: transparent;
    margin-right: 2px;
    text-decoration: none;
    cursor: pointer;
}
.nav-tabs:after {
    clear: both;
    content: " ";
    display: table;
}
.nav-tabs>li.active {
    color: #686868;
    border-color: #d15050 #e5e5e5 transparent #e5e5e5;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
}
.tab-content>.tab-pane.active {
    display: block;
    visibility: visible;
}
.tab-content>.tab-pane {
    display: none;
    visibility: hidden;
}
._table_search th input {
    width: 110px;
}