{% autoescape None %}

<div class="popup-form portlet {{ form_class }}">
    <h1 class="portlet-heading dark">{{ _(title) }}
        <div class="portlet-widgets">
		    <a class="close-button _close"><i class="fa fa-close"></i></a>
		</div>
    </h1>

    <form method="post" action="{{ action }}" name="{{ form_class }}" enctype="{{ enctype }}">
        <h3 class="form-message">{{ message }}</h3>
        <div class="form-inputs">
           {% for inp in inputs %}
            {{ inp }}
           {% end %}
        </div>
        <div class="form-buttons">
            <button type="submit">{{ _("Save") }}</button>
            <button type="cancel">{{ _("Cancel") }}</button>
        </div>
        {% module xsrf_form_html() %}
    </form>

</div>