<ul class="dropdown-menu blue-box" role="menu" aria-labelledby="dLabel">
    {% for row in rows %}
    <li><a class="_reload" href="/{{ lang }}/{{ link }}/{{ row['slug'] }}">{{ row[lang] }}</a></li>
    {% end %}
</ul>