{% extends "../admin_layout.html" %}

{% block body %}
<div class="tc-tabs"><!-- Nav tabs style 2-->
    <ul class="nav nav-tabs tab-color-dark background-dark">
        <li class="active"><a href="#tab3" data-toggle="tab" aria-expanded="true">Home</a></li>
        <li class=""><a href="#tab4" data-toggle="tab" aria-expanded="false"><i class="fa fa-user"></i> Profile</a></li>
        <li class=""><a href="#tab5" data-toggle="tab" aria-expanded="false">Inbox</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="tab3">
            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
        </div>
        <div class="tab-pane" id="tab4">
            Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
        </div>
        <div class="tab-pane" id="tab5">
            Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.
        </div>
    </div>
</div>
{% end %}
