<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/ua/login" method="post">
    <h3 class="form-message"></h3>
    <div>
        <input type="email" name="email" placeholder="{{ _("email") }}">
    </div>
    <div>
        <input type="password" name="password" placeholder="{{ _("password") }}">
    </div>
    <div>
        <input type="submit" value="{{ _("login") }}" />
    </div>
    {% module xsrf_form_html() %}
</form>
</body>
</html>