{% autoescape None %}

{% block body %}
<form method="get" action="/{{ table_uri }}" method="get">
    {% if 'order_by' in handler.request.query_arguments %}
    <input type="hidden" name="order_by"value="{{ handler.request.query_arguments['order_by'][0] }}"/>
    {% end %}
    {% if 'order_type' in handler.request.query_arguments %}
    <input type="hidden" name="order_type"value="{{ handler.request.query_arguments['order_type'][0] }}"/>
    {% end %}
  <h1>{{ _(title) }} <span class="sub-title">{{ _(subtitle) }}</span>
      <span class="table-actions">
          <select id="table-per-page" name="per-page">
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="all">{{ _("all") }}</option>
          </select>
          <label for="table-per-page">{{ _("per page") }}</label>
          <a href="/{{ handler.locale.code }}/admin/{{ realty_type }}/add" class="btn btn-success btn-sm"><i class="fa fa-plus icon-only"></i></a>
      </span>
      <span class="page-nav">
          {% module Paginator(page, page_size, results_count) %}
      </span>
  </h1>
  <div class="portlet"><!-- /Portlet -->
      <div class="portlet-heading dark">
          <div class="portlet-title">
              <h4>{{ _(subtitle) }}</h4>
          </div>
          <!--<div class="portlet-widgets">
              <a href="#basic" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a>
              <span class="divider"></span>
              <a class="box-close" href="#"><i class="fa fa-times"></i></a>
          </div>-->
          <div class="clearfix"></div>
      </div>
      <div class="panel-collapse collapse in" id="basic">
          <div class="portlet-body no-padding">
              <table class="table table-bordered table-hover tc-table active-table">
                  <thead>
                  <tr>
                      {{ th_sort }}
                  </tr>
                  <tr class="_table_search">
                      {{ th_search }}
                  </tr>
                  </thead>
                  <tbody>
                      {% for row in rows %}
                        {{ row }}
                      {% end %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</form>
{% end %}