{% extends "base.html" %}

{% block body %}
  <div id="body"></div>
  <script src="/js/newissue.js"></script>
  <script>
    React.render(React.createElement(NewIssue, {}),
                 document.getElementById('body'))
  </script>
{% endblock body %}
