<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ escape(handler.settings["site_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css"/>
</head>
<body>
  <div id="content">{% block body %}{% end %}</div>
</body>
</html>