/*div>label.after {width: auto; float: none;}*/
.ac_box, .lu_box {position: relative;}
._acList, ._luTable {
    z-index: 3;
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
    font-family: verdana;
    border-radius: 4px;
    border: 1px solid #aaa;
    width: 150px;
    background: #efefef;
    display: none;
}
._luTable {
    width: 250px;
}
._acList li, ._luTable tr {
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 98%;
    list-style: none;
    color: black;
}
._acList li:hover, ._acList li.active, ._luTable tr:hover, ._luTable tr.active {
    background: #aaa;
    border-radius: 4px;
    border: 1px solid #aaa;
    background: #aaa;
}
/*#notice {*/
    /*position: fixed;*/
    /*top: 10px;*/
    /*left: 0px;*/
    /*width: 98%;*/
    /*text-align: center;*/
/*}*/
/*#notice span {*/
    /*color: #FFF;*/
    /*padding: 3px;*/
/*}*/

/*#notice .green {background: #84B10F;}*/
/*#notice .red {background: #EF4845;}*/
/*#notice .orange {background: #DDD606;}*/

._range2 {
    display: inline-block;
}
._range2 span {
    position: absolute;
    width: 100%;
    text-align: center;
}
._range2 ._box {
    width: 194px;
    display: inline-block;
    position: relative;
}
._range2 ._min {
    z-index: 2;
    top: 20px;
}
._range2 ._max {
    z-index: 1;
}
._range2 ._min, ._range2 ._max {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
        height: 17px;
}
._range2 ._minval, ._range2 ._maxval {
    width: 30px;
}
._tags li {
    display: inline-block;
    border: solid 1px #aaa;
    border-radius: 3px;
    background: #ccc;
    margin-left: 3px;
    padding: 4px;
}
._tags ul {
    margin-bottom: 3px;
}
._tags li i {
    margin-left: 4px;
}