#wrap {
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -300px;
    width: 600px;
    font-family: Arial;
}
#wrap>div {
    width: 49%;
    height: 100%;
    float: left;
}
#contacts {
    border-left: solid 2px #006633;
}
#logo>img {
    width: 90%;
    margin-top: 80px;
}
h1 {
    margin: 0px 0 20px 20px;
}
#logo>div {
    margin: -20px 0 0 76px;
}
#contacts>div {
    margin: 5px 20px;
}